/*
Guide:
Each variable has a type, a name (if possible, using Emmet convention) and a "weight", 
ranging from 900 (heavy/dark) to 100 (thin/light)

Types:
======
--a: Animations
--c: Colors
--f: Fonts
--i: Icons
--u: Units
--z: Z-indices
*/

:root {
	/* Units */
	--u-100: 0.0625rem; /* 1px */
	--u-125: 0.125rem; /* 2px */
	--u-150: 0.25rem; /* 4px */
	--u-175: 0.375rem; /* 6px */
	--u-200: 0.5rem; /* 8px */
	--u-225: 0.625rem; /* 10px */
	--u-250: 0.75rem; /* 12px */
	--u-275: 0.875rem; /* 14px */
	--u-300: 1rem; /* 16px */
	--u-325: 1.125rem; /* 18px */
	--u-350: 1.25rem; /* 20px */
	--u-375: 1.375rem; /* 22px */
	--u-400: 1.5rem; /* 24px */
	--u-475: 1.875rem; /* 30px */
	--u-500: 2rem; /* 32px */
	--u-550: 2.25rem; /* 36px */
	--u-600: 2.5rem; /* 40px */
	--u-700: 3rem; /* 48px */
	--u-800: 3.5rem; /* 60px */
	--u-850: 4.5rem; /* 72px */
	--u-875: 5.25rem; /* 84px */
	--u-900: 6rem; /* 96px */

	--baseline: 1.4;
	line-height: var(--baseline);

	/* Modular Scale */
	--s-ratio: 1.25;
	--s-5: calc(var(--s-4) / var(--s-ratio));
	--s-4: calc(var(--s-3) / var(--s-ratio));
	--s-3: calc(var(--s-2) / var(--s-ratio));
	--s-2: calc(var(--s-1) / var(--s-ratio));
	--s-1: calc(var(--s0) / var(--s-ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--s-ratio));
	--s2: calc(var(--s1) * var(--s-ratio));
	--s3: calc(var(--s2) * var(--s-ratio));
	--s4: calc(var(--s3) * var(--s-ratio));
	--s5: calc(var(--s4) * var(--s-ratio));
	--s6: calc(var(--s5) * var(--s-ratio));
	--s7: calc(var(--s6) * var(--s-ratio));

	/* TODO 
	.flow {
  --flow-space: 1em;
}  

.flow > * + * { 
  margin-top: var(--flow-space);
}
*/




	/* Breakpoints */
	/* --bp-phone: 320px;
	--bp-tablet-pt: 600px;
	--bp-tablet-ls: 960px;
	--bp-desktop-sm: 1200px;
	--bp-desktop-md: 1366px;
	--bp-desktop-lg: 1440px;
	--bp-desktop-xl: 1600px;
	--bp-desktop-hd: 1920px;
	--bp-desktop-4k: 3840px; */

	/* Animation Timing */
	--a-tm-100: 100ms;
	--a-tm-200: 200ms;
	--a-tm-300: 300ms;
	--a-tm-400: 400ms;
	--a-tm-700: 700ms;

	/* Border-radii TODO */
	/* --bdrs-100: var(--u-100);
	--bdrs-200: 0.125rem;
	--bdrs-300: 0.25rem;
	--bdrs-400: 0.5rem;
	--bdrs-600: 1rem;
	--bdrs-700: 50%;
	--bdrs-900: 100%; */

	/* Box-shadows */
	--bxsh-100: 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24);
	--bxsh-200: inset 0 0 0 6px rgba(0, 0, 0, 0.3),
		inset 0 0 0 10px rgba(255, 255, 255, 0.3);
	--bxsh-300: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
	--bxsh-400: inset 0 0 0 0.25em #fff;
	--bxsh-600: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.1);
	--bxsh-800: 0 15px 25px hsla(0, 0%, 0%, 0.15), 0 5px 10px hsla(0, 0%, 0%, 0.5);
	--bxsh-900: 0 20px 40px hsla(0, 0%, 0%, 0.2);

	/* Color: Primary */
	--c-blue-900: hsl(204, 96%, 27%);
	--c-blue-800: hsl(203, 87%, 34%);
	--c-blue-700: hsl(202, 83%, 41%);
	--c-blue-600: hsl(201, 79%, 46%);
	--c-blue-500: hsl(199, 84%, 55%);
	--c-blue-400: hsl(197, 92%, 61%);
	--c-blue-300: hsl(196, 94%, 67%);
	--c-blue-200: hsl(195, 97%, 75%);
	--c-blue-100: hsl(195, 100%, 85%);
	--c-blue-50: hsl(195, 100%, 100%);

	/* Color: Greys */
	--c-grey-900: hsl(210, 24%, 16%);
	--c-grey-800: hsl(209, 20%, 25%);
	--c-grey-700: hsl(209, 18%, 30%);
	--c-grey-600: hsl(209, 14%, 37%);
	--c-grey-500: hsl(211, 12%, 43%);
	--c-grey-400: hsl(211, 10%, 53%);
	--c-grey-300: hsl(211, 13%, 65%);
	--c-grey-200: hsl(210, 16%, 82%);
	--c-grey-100: hsl(214, 15%, 91%);
	--c-grey-50: hsl(216, 33%, 97%);

	/* Color: Supporting: Pink */
	--c-pink-900: hsl(320, 100%, 19%);
	--c-pink-800: hsl(322, 93%, 27%);
	--c-pink-700: hsl(324, 93%, 33%);
	--c-pink-600: hsl(326, 90%, 39%);
	--c-pink-500: hsl(328, 85%, 46%);
	--c-pink-400: hsl(330, 79%, 56%);
	--c-pink-300: hsl(334, 86%, 67%);
	--c-pink-200: hsl(336, 100%, 77%);
	--c-pink-100: hsl(338, 100%, 86%);
	--c-pink-50: hsl(341, 100%, 98%);

	/* Color: Supporting: Red */
	--c-red-900: hsl(348, 94%, 20%);
	--c-red-800: hsl(350, 94%, 28%);
	--c-red-700: hsl(352, 90%, 35%);
	--c-red-600: hsl(354, 85%, 44%);
	--c-red-500: hsl(356, 75%, 53%);
	--c-red-400: hsl(360, 83%, 62%);
	--c-red-300: hsl(360, 91%, 69%);
	--c-red-200: hsl(360, 100%, 80%);
	--c-red-100: hsl(360, 100%, 87%);
	--c-red-50: hsl(360, 100%, 100%);

	/* Color: Supporting: Yellow */
	--c-yellow-900: hsl(15, 86%, 30%);
	--c-yellow-800: hsl(22, 82%, 39%);
	--c-yellow-700: hsl(29, 80%, 44%);
	--c-yellow-600: hsl(36, 77%, 49%);
	--c-yellow-500: hsl(42, 87%, 55%);
	--c-yellow-400: hsl(44, 92%, 63%);
	--c-yellow-300: hsl(48, 94%, 68%);
	--c-yellow-200: hsl(48, 95%, 76%);
	--c-yellow-100: hsl(48, 100%, 88%);
	--c-yellow-50: hsl(49, 100%, 96%);

	/* Color: Supporting: Green */
	--c-green-900: hsl(170, 97%, 15%);
	--c-green-800: hsl(168, 80%, 23%);
	--c-green-700: hsl(166, 72%, 28%);
	--c-green-600: hsl(164, 71%, 34%);
	--c-green-500: hsl(162, 63%, 41%);
	--c-green-400: hsl(160, 51%, 49%);
	--c-green-300: hsl(158, 58%, 62%);
	--c-green-200: hsl(156, 73%, 74%);
	--c-green-100: hsl(154, 75%, 87%);
	--c-green-50: hsl(152, 68%, 100%);

	/* Color: Other: text-color, backdrop-color etc. */

	--c-bg: #FFFFFF;
	--c-bg--dark: #292A2D;
	--c-txt: var(--c-grey-900);
	--c-txt--dark: var(--c-grey-50);
	
	--c-backdrop: rgba(0, 0, 0, 0.5);
	--c-link: var(--c-blue-800); /* #0000EE; */
	--c-link--dark: var(--c-blue-300);
	--c-link-vis: #551A8B;
	--c-link-vis--dark: #CDA9EF;
	

	/* TODO Fonts */
	--f-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

	/* Fonts: Sizes TODO */
	--f-fz-100: var(--u-200); /* 8px */
	--f-fz-125: var(--u-225); /* 10px */
	--f-fz-300: 0.75rem; /* 12px */
	--f-fz-400: 0.875rem; /* 14px */
	--f-fz-500: 1rem; /* 16px */
	--f-fz-550: 1.125rem; /* 18px */
	--f-fz-600: 1.25rem; /* 20px */
	--f-fz-650: 1.5rem; /* 24px */
	--f-fz-700: 1.875rem; /* 30px */
	--f-fz-750: 2.25rem; /* 36px */
	--f-fz-800: 3rem; /* 48px */
	--f-fz-850: 35rem; /* 60px */
	--f-fz-800: 4.5rem; /* 72px */
	--f-fz-900: 5.25rem; /* 84px */

	/* Fonts: Headers */
	--f-h1: var(--f-fz-750);
	--f-h2: var(--f-fz-650);

	/* Dynamic font sizes ? 
		https://css-tricks.com/snippets/css/fluid-typography/
		https://redonion.se/responsive-typography-with-css-custom-properties-css-variables/#summary-table
		https://codepen.io/fridanyvall/pen/jzpLdm
		--f-dz-500: calc(16px + 6 * ((100vw - 320px) / 680));
		*/

	/* Gutter TODO */
	--g-sm: 0.5rem;
	--g-md: 1rem;

	/* Icons */
	--i-arrow-down: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M20 40 L50 70 L80 40' stroke='%23222' stroke-width='3px' fill='transparent'%3E%3C/path%3E%3C/svg%3E");
	--i-calendar: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(214,15%,91%)' viewBox='0 0 16 16'%3E%3Cpath d='M5 6h2v2h-2zM8 6h2v2h-2zM11 6h2v2h-2zM2 12h2v2h-2zM5 12h2v2h-2zM8 12h2v2h-2zM5 9h2v2h-2zM8 9h2v2h-2zM11 9h2v2h-2zM2 9h2v2h-2zM13 0v1h-2v-1h-7v1h-2v-1h-2v16h15v-16h-2zM14 15h-13v-11h13v11z'%3E%3C/path%3E%3C/svg%3E");
	--i-check: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z' fill='hsl(210,16%,82%)'%3E%3C/path%3E%3C/svg%3E");
	--i-check-valid: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z' fill='hsl(160,51%,49%)'%3E%3C/path%3E%3C/svg%3E");
	--i-check-selected: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M14 2.5l-8.5 8.5-3.5-3.5-1.5 1.5 5 5 10-10z' fill='%23FFF'%3E%3C/path%3E%3C/svg%3E");
	--i-password: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(214,15%,91%)' viewBox='0 0 16 16'%3E%3Cpath d='M8 3c-3.489 0-6.514 2.032-8 5 1.486 2.968 4.511 5 8 5s6.514-2.032 8-5c-1.486-2.968-4.511-5-8-5zM11.945 5.652c0.94 0.6 1.737 1.403 2.335 2.348-0.598 0.946-1.395 1.749-2.335 2.348-1.181 0.753-2.545 1.152-3.944 1.152s-2.763-0.398-3.945-1.152c-0.94-0.6-1.737-1.403-2.335-2.348 0.598-0.946 1.395-1.749 2.335-2.348 0.061-0.039 0.123-0.077 0.185-0.114-0.156 0.427-0.241 0.888-0.241 1.369 0 2.209 1.791 4 4 4s4-1.791 4-4c0-0.481-0.085-0.942-0.241-1.369 0.062 0.037 0.124 0.075 0.185 0.114v0zM8 6.5c0 0.828-0.672 1.5-1.5 1.5s-1.5-0.672-1.5-1.5 0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5z'%3E%3C/path%3E%3C/svg%3E");
	--i-plus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M15 7h-6v-6h-2v6h-6v2h6v6h2v-6h6z' fill='white'%3E%3C/path%3E%3C/svg%3E");
	--i-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M1 7h14v2h-14v-2z' fill='white'%3E%3C/path%3E%3C/svg%3E");
	--i-star: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M16 6.204l-5.528-0.803-2.472-5.009-2.472 5.009-5.528 0.803 4 3.899-0.944 5.505 4.944-2.599 4.944 2.599-0.944-5.505 4-3.899z' fill='hsl(210,16%,82%)'%3E%3C/path%3E%3C/svg%3E");


	--i-download:  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M5 14l11 11 11-11h-7v-12h-8v12z"></path><path d="M28 16v12h-24v-12h-4v13c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-13h-4z"></path></svg>');
	--i-external: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M22 26h-16v-16h9l4-4h-17v24h24v-17l-4 4v9z"></path><path d="M32 0h-13l5 5-15 15 3 3 15-15 5 5v-13z"></path></svg>');
	--i-mail: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30 4h-28c-1.1 0-2 0.9-2 2v20c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-20c0-1.1-0.9-2-2-2zM11.662 19.546l-6 4.364c-0.2 0.145-0.431 0.215-0.661 0.215-0.348 0-0.691-0.161-0.911-0.463-0.365-0.502-0.254-1.206 0.248-1.572l6-4.364c0.502-0.365 1.206-0.254 1.572 0.248s0.254 1.206-0.248 1.572zM27.91 23.662c-0.22 0.303-0.563 0.463-0.911 0.463-0.23 0-0.461-0.070-0.661-0.215l-6-4.364c-0.503-0.366-0.614-1.069-0.248-1.572s1.069-0.613 1.572-0.248l6 4.364c0.502 0.366 0.613 1.069 0.248 1.572zM27.662 9.91l-11 8c-0.197 0.143-0.429 0.215-0.662 0.215s-0.464-0.072-0.662-0.215l-11-8c-0.502-0.365-0.614-1.069-0.248-1.572s1.069-0.614 1.572-0.248l10.338 7.519 10.338-7.519c0.502-0.365 1.206-0.254 1.572 0.248s0.254 1.206-0.248 1.572z"></path></svg>');
	--i-phone: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M23 0h-14c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 1.5h8v1h-8v-1zM16 30c-1.105 0-2-0.895-2-2s0.895-2 2-2 2 0.895 2 2-0.895 2-2 2zM24 24h-16v-20h16v20z"></path></svg>');
	--i-skype: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M13.3 1.169c-0.050-0.031-0.106-0.056-0.156-0.081-0.056 0.012-0.106 0.019-0.162 0.031l0.319 0.050z"></path><path d="M1.15 13.156c-0.012 0.056-0.019 0.113-0.025 0.162 0.031 0.050 0.050 0.1 0.081 0.15l-0.056-0.313z"></path><path d="M30.837 18.831c0.012-0.056 0.019-0.113 0.031-0.169-0.031-0.050-0.050-0.1-0.081-0.15l0.050 0.319z"></path><path d="M18.5 30.719c0.050 0.031 0.106 0.056 0.156 0.081 0.056-0.012 0.113-0.019 0.169-0.025l-0.325-0.056z"></path><path d="M30.869 18.663c-0.012 0.056-0.019 0.113-0.031 0.169l-0.056-0.325c0.031 0.056 0.056 0.106 0.087 0.156 0.163-0.9 0.25-1.819 0.25-2.738 0-2.037-0.4-4.019-1.188-5.881-0.762-1.8-1.85-3.419-3.238-4.806s-3.006-2.475-4.8-3.237c-1.863-0.788-3.844-1.188-5.881-1.188-0.963 0-1.925 0.088-2.863 0.269 0 0-0.006 0-0.006 0 0.050 0.025 0.106 0.050 0.156 0.081l-0.319-0.050c0.056-0.012 0.106-0.019 0.162-0.031-1.287-0.681-2.731-1.050-4.194-1.050-2.388 0-4.638 0.931-6.325 2.619s-2.619 3.937-2.619 6.325c0 1.519 0.394 3.019 1.125 4.338 0.012-0.056 0.019-0.113 0.025-0.162l0.056 0.319c-0.031-0.050-0.056-0.1-0.081-0.15-0.15 0.856-0.225 1.731-0.225 2.606 0 2.038 0.4 4.019 1.188 5.881 0.763 1.8 1.85 3.413 3.237 4.8s3.006 2.475 4.806 3.238c1.863 0.788 3.844 1.188 5.881 1.188 0.887 0 1.775-0.081 2.644-0.238-0.050-0.031-0.1-0.056-0.156-0.081l0.325 0.056c-0.056 0.012-0.113 0.019-0.169 0.025 1.337 0.756 2.856 1.163 4.4 1.163 2.387 0 4.637-0.931 6.325-2.619s2.619-3.938 2.619-6.325c-0.006-1.519-0.4-3.019-1.137-4.35zM16.069 25.181c-5.369 0-7.769-2.637-7.769-4.619 0-1.012 0.75-1.725 1.781-1.725 2.3 0 1.7 3.3 5.988 3.3 2.194 0 3.406-1.194 3.406-2.413 0-0.731-0.363-1.544-1.806-1.9l-4.775-1.194c-3.844-0.963-4.544-3.044-4.544-5 0-4.056 3.819-5.581 7.406-5.581 3.306 0 7.2 1.825 7.2 4.263 0 1.044-0.906 1.65-1.938 1.65-1.962 0-1.6-2.713-5.55-2.713-1.963 0-3.044 0.887-3.044 2.156s1.55 1.675 2.894 1.981l3.538 0.787c3.869 0.863 4.85 3.125 4.85 5.25 0 3.294-2.531 5.756-7.637 5.756z"></path></svg>');
  --i-sms: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M29 2h-26c-1.65 0-3 1.35-3 3v16c0 1.65 1.35 3 3 3h5v8l9.6-8h11.4c1.65 0 3-1.35 3-3v-16c0-1.65-1.35-3-3-3zM12 16h-4v-4h4v4zM18 16h-4v-4h4v4zM24 16h-4v-4h4v4z"></path></svg>');

	/* Opacity */
	--o-100: 0;
	--o-800: 0.9;
	--o-900: 1;

	/* z-index */
	--z-c-ttp: 999;

	--z-frm-elm: 1;
	--z-frm-panel: 100;

	/* Form fields */
	--fld-bdc: var(--c-nt-300);
	--fld-bdrs: var(--bdrs-300);
	--fld-bds: solid;
	--fld-bdw: 1px;
	--fld-bgc: #fff;
	--fld-chk-focus: 0 0 0 0.2rem var(--c-nt-300);
	--fld-chk-focus-sel: 0 0 0 0.2rem var(--c-pm-300);
	--fld-focus-dark: inset 0 0 0 0.2rem var(--c-pm-700);
	--fld-fz: var(--f-fz-400);
	--fld-h: calc((var(--fld-fz) * var(--fld-lh)) + (var(--fld-p) * 2));
	--fld-icon-pos: calc(100% - var(--fld-p) * 0.75) 50%;
	--fld-lh: 1.5;
	--fld-p: var(--f-fz-400);
	--fld-panel-position: calc((var(--fld-fz) * var(--lbl-lh)) + var(--fld-h));

	/* Form fieldsets */
	--fls-g: var(--g-sm);
	--fls-g-multiplier: 1.5rem;

	/* Form labels */
	--lbl-fz: var(--f-fz-400);
	--lbl-h: calc((var(--fld-fz) * var(--lbl-lh)));
	--lbl-lh: 1.8;
}
