@import 'app.css';
@import 'c-clp.css';
.app {
	--offsetX: 8px;
	--offsetY: 8px;
	--blur: 0;
	--spread: 0;
	--bxsh-c: rgba(0,0,0,0.3);
	--preview-sz: 200px;
}
.app__preview {
	background-color: #f7fafc;
	border: 1px solid #cbd5e0;
	border-radius: .25rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4rem 0;
  text-align: center;
}
[data-elm="presetCode"] {
	border: var(--app-inp-brd);
  border-radius: var(--app-inp-bdrs);
	flex: 0 0 100%;
	font-family: monospace;
	font-size: x-small;
	min-height: 4rem;
	/* overflow: hidden; */
	padding: 0.5rem;
	resize: none;
	width: 100%;
}
[data-elm="previewBox"] {
	background-color: white;
	border-radius: .25rem;
	/* box-shadow: var(--offsetX) var(--offsetY) var(--blur) var(--spread) var(--bxsh-c); */
	display: none;
	height: var(--preview-sz);
	width: var(--preview-sz);
}
[data-elm="previewDrop"] {
	display: none;
	/* filter: drop-shadow(var(--offsetX) var(--offsetY) var(--blur) var(--bxsh-c)); */
}
[data-elm="previewDropInner"] {
	background-color: white;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	height: var(--preview-sz);
	width: var(--preview-sz);
}
[data-elm="previewText"] {
	display: none;
	font-size: 4rem;
	font-weight: 900;
}

/* State */
[data-elm="boxShadow"]:checked ~ .app__edit [data-elm="previewBox"],
[data-elm="textShadow"]:checked ~ .app__edit [data-elm="previewText"],
[data-elm="dropShadow"]:checked ~ .app__edit [data-elm="previewDrop"] {
	display: block;
}
[data-elm="boxShadow"]:checked ~ .app__edit .app__controls .app__fieldset [data-for="boxShadow"],
[data-elm="dropShadow"]:checked ~ .app__edit .app__controls .app__fieldset [data-for="dropShadow"],
[data-elm="textShadow"]:checked ~ .app__edit .app__controls .app__fieldset [data-for="textShadow"] {
	background-color: #606060;
	color: white;
}
[data-elm="boxShadow"]:focus ~ .app__edit .app__controls .app__fieldset [data-for="boxShadow"],
[data-elm="dropShadow"]:focus ~ .app__edit .app__controls .app__fieldset [data-for="dropShadow"],
[data-elm="textShadow"]:focus ~ .app__edit .app__controls .app__fieldset [data-for="textShadow"] {
	text-decoration: underline;
}