/**
 * c-dlg.css
 * @version 1.0.51
 * @summary 22-12-2020
 * @author Mads Stoumann
 * @description Stylesheet for Dialogs
	Variables are concatinated from: 
	- element-prefix + 
	- optional sub-element +
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
/* @import 'c-btn.css'; */

.c-dlg {
	--dlg-backdrop: rgba(0, 0, 0, 0.5);
	--dlg-bdc: transparent;
	--dlg-bdc--dark: #FFF;
	--dlg-bdrs: 0.25rem;
	--dlg-bds: solid;
	--dlg-bdw: 0px;
	--dlg-bdw--dark: 1px;
	--dlg-bgc: #FFF;
	--dlg-bgc--dark: #202123;
	--dlg-bxsh: rgba(0, 0, 0, 0.2);
	--dlg-bxsh--sz: 0 20px 40px;
	--dlg-c: var(--c-txt);
	--dlg-c--dark: var(--c-txt--dark);
	--dlg-close-m: 0.5rem;
	--dlg-ff: ui-sans-serif, system-ui, sans-serif;
	--dlg-fz: 1rem;
	--dlg-mw: 25rem;
	--dlg-nav-mil: 1rem;
	--dlg-nav-m: 1.5rem 0 0 0; 
	--dlg-p: 1.5rem;
	--dlg-w: calc(100vw - 1rem);

	background-color: var(--dlg-bgc);
	border-color: var(--dlg-bdc);
	border-radius: var(--dlg-bdrs);
	border-style: var(--dlg-bds);
	border-width: var(--dlg-bdw);
	box-shadow: var(--dlg-bxsh--sz) var(--dlg-bxsh);
	box-sizing: border-box;
	color: var(--dlg-c);
	font-family: var(--dlg-ff);
	font-size: var(--dlg-fz);
	padding: var(--dlg-p);
	position: relative;
	max-width: var(--dlg-mw);
	width: var(--dlg-w);
}
.c-dlg::backdrop {
	/* Chrome Bug: Cannot be set from CSS Custom Prop: --dlg-backdrop :-( */
	background: rgba(0, 0, 0, 0.5);
}
.c-dlg__close {
	inset-inline-end: var(--dlg-close-m);
	position: absolute;
	top: var(--dlg-close-m);
}
.c-dlg__nav {
	margin: var(--dlg-nav-m);
	text-align: end;
}
.c-dlg__nav button:first-of-type {
	margin-inline-end: var(--dlg-nav-mil);
}
.c-dlg--nosupport {
	box-shadow: 0 0 0 9999px var(--dlg-backdrop);
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
}
.c-dlg--nosupport[hidden] {
	display: none;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.c-dlg {
		--dlg-bdc: var(--dlg-bdc--dark);
		--dlg-bdw: var(--dlg-bdw--dark);
		--dlg-bgc: var(--dlg-bgc--dark);
		--dlg-c: var(--dlg-c--dark);
	}
}

/* Fix for Edge: Delete when moved to Chromium */
@supports not (inset-inline-end: 0) {
	.c-dlg__close {
		right: var(--dlg-close-m);
	}
	.c-dlg__nav {
		text-align: right;
	}
	.c-dlg__nav button:first-of-type {
		margin-right: var(--dlg-nav-mil);
	}
}
/* Fix for Firefox: Delete when Dialog implemented fully */
@supports (-moz-appearance: meterbar) {
	.c-dlg {
		left: 0;
		transform: translateY(-50%);
	}
}
