.c-flm {
	--blur: 0;
	--brightness: 1;
	--contrast: 1;
	--grayscale: 0;
	--huerotate: 0deg;
	--invert: 0;
	--opacity: 1;
	--saturate: 1;
	--sepia: 0;
	--url: ;

	--cp-fz-large: 1.25rem;
	--cp-fz-small: 0.75rem;
	--cp-m-unit: 1rem;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	margin: var(--cp-m-unit) auto;
	max-width: 36rem;
}

.c-flm * {
	box-sizing: border-box;
}



[data-elm="filedrop"] {
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.app__img {
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.app__img-wrapper {
	/* border: 1px solid gray; */
	margin: 0;
	padding: 0;
	position: relative;
}
.app__img-wrapper::after {
	content: '';
	display: block;
	padding-bottom: 56.25%;
}

.app__img--drag + [data-elm="filedrop"] {
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	z-index: 2;
}

[data-elm="filedrop"]::after {
	content: 'DROP';
    font-size: 6rem;
    color: #fff;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}



[data-elm="preview"] {
	filter: blur(var(--blur)) brightness(var(--brightness)) contrast(var(--contrast)) grayscale(var(--grayscale)) hue-rotate(var(--huerotate)) invert(var(--invert)) opacity(var(--opacity)) saturate(var(--saturate)) sepia(var(--sepia)) var(--url);
	max-width: 100%;
}
.app__label-group {
	margin: 1rem 0 0 0;
}
.app__label--radio > input + span {
background-color: #DDD;
	border-radius: 0.25rem;
	display: inline-block;
	font-family: monospace;
	margin: 0.25rem .25rem 0 0;
	padding: 0.25rem 0.45rem;
	white-space: nowrap;
}
.app__label--radio > input:checked + span {
	background-color: #555;
	color: #FFF;
}
.app__label--range {
	position: relative;
}
.app__label--range span {
	bottom: -1.5rem;
	color: gray;
	font-size: small;
	position: absolute;
}