/**
 * c-lay_navigation.css
 * @version 1.0.3
 * @summary 10-07-2020
 * @author Mads Stoumann
 * @description Stylesheet for Layout Component: Grid
*/
.c-lay__nav {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.c-lay__nav[hidden] {
	display: none;
}
.c-lay__nav-expand {
	display: flex;
	justify-content: center;
	padding-bottom: var(--lay-gap);
	position: relative;
}
.c-lay__nav-inner {
	align-items: center;
	display: flex;
	height: calc(100% - (var(--lay-gap) * 3));
	margin: 0 auto;
	max-width: var(--lay-inner-w);
	position: relative;
	width: 100%;
}
[data-nav*="arrows"] .c-lay__nav-btn {
	display: block;
}
[data-nav*="dots"] .c-lay__dots {
	display: flex;
}
[data-nav*="inside"] .c-lay__dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%)
}
[data-nav*="scroll inside"] .c-lay__dots {
	bottom: var(--lay-gap);
}

.c-lay[data-nav*="inside"] {
	/* TODO */
	--lay-dot-bgc: rgba(0,0,0,.25);
	--lay-dot-bgc--cur: rgba(255,255,255,.95);
}

/* TODO: Create variables, control placement */
.c-lay__nav-btn {
	background-color: var(--lay-nav-btn-bg);
	border: 0;
	border-radius: var(--lay-nav-btn-sz);
	color: #FFF;
	cursor: pointer;
	display: none;
	-webkit-font-smoothing: antialiased;
	height: var(--lay-nav-btn-sz);
	/* opacity: 0.15; */
	text-align: center;
	transition: .25s background-color linear,.25s color linear,.25s opacity linear;
	width: var(--lay-nav-btn-sz);
	z-index: var(--lay-nav-btn-z);
}
.c-lay__nav-btn:focus {
	box-shadow: 0 0 0 8px var(--lay-nav-btn-bxsh);
	outline: none;
}
.c-lay__nav-btn:disabled {
	display: none;
}
.c-lay__nav-btn[rel="next"] {
	position: absolute;
	right: calc(var(--lay-gap) * 2);
}
/* [data-preview="next"] .c-lay__nav-btn[rel="next"] {
	position: absolute;
	right: var(--lay-gap);
} */
.c-lay__nav-btn[rel="prev"] {
	left: calc(var(--lay-gap) * 2);
	position: absolute;
}
[dir="rtl"] .c-lay__nav-btn[rel="next"] {
	left: var(--lay-gap);
	right: auto;
}
[dir="rtl"] .c-lay__nav-btn[rel="prev"] {
	left: auto;
	right: var(--lay-gap);
}
.c-lay__nav-btn .c-ico-mai {
	/* TODO */
	--ico-h: 2em;
	--ico-w: 2em;
}
[data-expanded="true"] .c-lay__nav-btn .c-ico-mai {
	transform: rotate(180deg);
}

[data-section-type="stack"] .c-lay__dots,
[data-section-type="stack"] .c-lay__nav {
	display: none;
}


/*
=====
DOTS
=====
*/
.c-lay__dot {
	background-color: var(--lay-dot-bgc);
	border: 0;
	border-radius: var(--lay-dot-bdrs);
	box-sizing: border-box;
	display: block;
	height: var(--lay-dot-h);
	margin: var(--lay-dot-m);
	padding: 0;
	transition: .3s ease, background-color 0.3s ease-in;
	width: var(--lay-dot-w);
}
.c-lay__dot:focus {
	box-shadow: 0 0 0 3px var(--lay-dot-bxsh);
	outline: none;
}
.c-lay__dot--current {
	background-color: var(--lay-dot-bgc--cur);
}
.c-lay__dot--current:focus {
	background-color: var(--lay-dot-bgc--cur-focus);
}
.c-lay__dots {
	display: none;
	justify-content: center;
	padding: var(--lay-dot-p);
	position: relative;
}

/* Modifiers */
.c-lay__dot.c-lay__dot--line {
	--lay-dot-bdrs: 0;
	--lay-dot-h: 2px;
	--lay-dot-w: 40px;
}