/**
 * c-lay_navigation.css
 * @version 1.0.6
 * @summary 04-09-2020
 * @author Mads Stoumann
 * @description Stylesheet for Layout Component: Navigation
*/
.c-lay__nav {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.c-lay__nav[hidden] {
	display: none;
}
.c-lay__nav-btn {
	align-items: center;
	background-color: var(--lay-nav-btn-bg);
	border: 0;
	border-radius: var(--lay-nav-btn-sz);
	color: var(--lay-nav-btn-c);
	cursor: pointer;
	display: none;
	-webkit-font-smoothing: antialiased;
	height: var(--lay-nav-btn-sz);
	justify-content: center;
	opacity: .65;
	text-align: center;
	transform: translateZ(0);
	transition: opacity .3s ease-in;
	width: var(--lay-nav-btn-sz);
	z-index: var(--lay-nav-btn-z);
}
.c-lay__nav-btn:focus {
	box-shadow: 0 0 0 8px var(--lay-nav-btn-bxsh);
	outline: none;
}
.c-lay__nav-btn:disabled {
	opacity: 0;
}
.c-lay__nav-btn i {
	border-style: solid;
	border-width: var(--lay-nav-btn-ico-bdw) var(--lay-nav-btn-ico-bdw) 0 0;
	box-sizing: border-box;
	display: inline-block;
	height: var(--lay-nav-btn-ico-sz);
	position: relative;
	transform: rotate(45deg);
	transition: left .3s ease-in;
	width: calc(var(--lay-nav-btn-ico-sz) * 1);
}
.c-lay__nav-btn i:before {
	box-shadow: inset 0 0 0 32px;
	content: '';
	height: var(--lay-nav-btn-ico-bdw);
	position: absolute;
	right: 0;
	top: calc(var(--lay-nav-btn-ico-bdw) / -2);
	transform: rotate(-45deg);
	-webkit-transform-origin: right top;
	transform-origin: right top;
	transition: width .3s ease-in;
	width: 0;
}
.c-lay__nav-btn[rel="next"] {
	position: absolute;
	right: calc(var(--lay-gap) * 2);
}
.c-lay__nav-btn[rel="prev"] {
	left: calc(var(--lay-gap) * 2);
	position: absolute;
}
.c-lay__nav-btn[rel="next"] i {
	left: calc(var(--lay-nav-btn-ico-bdw) * -1);
}
.c-lay__nav-btn[rel="prev"] i {
	left: var(--lay-nav-btn-ico-bdw);
	transform: rotate(-135deg);
}
.c-lay__nav-btn[rel="next"]:focus,
.c-lay__nav-btn[rel="prev"]:focus,
.c-lay__nav-btn[rel="next"]:not(:disabled):hover,
.c-lay__nav-btn[rel="prev"]:not(:disabled):hover {
	box-shadow: 0 0 0 8px var(--lay-nav-btn-bxsh);
	opacity: 1;
}
.c-lay__nav-btn[rel="next"]:focus i,
.c-lay__nav-btn[rel="next"]:hover i {
	left: calc(var(--lay-nav-btn-ico-bdw) / 2);
}
.c-lay__nav-btn[rel="prev"]:focus i,
.c-lay__nav-btn[rel="prev"]:hover i {
	left: 0;
}
.c-lay__nav-inner {
	align-items: center;
	display: flex;
	height: calc(100% - var(--lay-inner-pb));
	margin: 0 auto;
	max-width: var(--lay-inner-w);
	position: relative;
	width: 100%;
}

/* Modifiers */
[data-nav*="arrows"] .c-lay__nav-btn {
	display: inline-flex;
}
[data-nav*="dots"] .c-lay__dots {
	display: flex;
}
[data-nav*="dots"] .c-lay__nav-inner {
	height: calc(100% - var(--lay-inner-pb) - (var(--lay-gap) * 2));
}
[data-nav*="dots inside"] .c-lay__nav-inner {
	height: calc(100% - var(--lay-inner-pb));
}
[data-nav*="dots scroll"] .c-lay__nav-inner {
	height: calc(100% - var(--lay-inner-pb) - (var(--lay-gap) * 3));
}
[data-nav*="inside"] .c-lay__dots {
	bottom: var(--lay-gap);
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}
.c-lay[data-nav*="inside"] {
	/* TODO: PER THEME */
	--lay-dot-bgc: rgba(0,0,0,.25);
	--lay-dot-bgc--cur: rgba(255,255,255,.95);
}
[data-toggle-expanded]:focus .c-lay__nav-btn i::before,
[data-toggle-expanded]:hover .c-lay__nav-btn i::before,
.c-lay__nav-btn[rel="next"]:focus i::before,
.c-lay__nav-btn[rel="prev"]:focus i::before,
.c-lay__nav-btn[rel="next"]:hover i::before,
.c-lay__nav-btn[rel="prev"]:hover i::before {
	width: calc(var(--lay-nav-btn-ico-sz) * 1.25);
}
[data-section-type="grid-gallery"] .c-lay__dots,
[data-section-type="grid-gallery"] .c-lay__nav,
[data-section-type="masonry"] .c-lay__dots,
[data-section-type="masonry"] .c-lay__nav,
[data-section-type="stack"] .c-lay__dots,
[data-section-type="stack"] .c-lay__nav {
	display: none;
}
/*
=====
DOTS
=====
*/
.c-lay__dot {
	background-color: var(--lay-dot-bgc);
	border: 0;
	border-radius: var(--lay-dot-bdrs);
	box-sizing: border-box;
	display: block;
	height: var(--lay-dot-h);
	margin: var(--lay-dot-m);
	padding: 0;
	transition: .3s ease, background-color 0.3s ease-in;
	width: var(--lay-dot-w);
}
.c-lay__dot:focus {
	box-shadow: 0 0 0 3px var(--lay-dot-bxsh);
	outline: none;
}
.c-lay__dot--current {
	background-color: var(--lay-dot-bgc--cur);
}
.c-lay__dot--current:focus {
	background-color: var(--lay-dot-bgc--cur-focus);
}
.c-lay__dots {
	display: none;
	justify-content: center;
	padding: var(--lay-dot-p);
	position: relative;
}

/* Modifier: Flat lines */
.c-lay__dots--line .c-lay__dot {
	--lay-dot-bdrs: 0;
	--lay-dot-h: 2px;
	--lay-dot-w: 40px;
}

/*
=====
TABS
=====
TODO
*/

.c-lay__tab {
	background-color: transparent;
	border: 0;
	border-radius: .25rem;
	color: var(--lay-tab-c);
	padding: 0.75em;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 10rem;
	white-space: nowrap;
	z-index: var(--lay-nav-btn-z);

}
.c-lay__tab:focus {
	outline: none;
	text-decoration: dotted underline;
}
.c-lay__tab--current {
	background-color: var(--lay-tab-bgc--cur);
	color: var(--lay-tab-c--cur);
}
.c-lay__tabs-inner {
	align-items: center;
	display: flex;
	margin: 0 auto;
	max-width: var(--lay-inner-maw);
	height: var(--lay-tab-h);
	padding: 0 var(--lay-gap);
}
.c-lay__tabs {
  backdrop-filter: saturate(180%) blur(15px);
	background-color: var(--lay-tab-bgc);
	border-bottom: 1px solid var(--lay-tab-bdc);
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 2;
}

/* TODO: BACK TO TOP */
[data-back-to-top] {
	background-color: #ccd6e0;
	bottom: 0px;
	color: #2f3e4c;
	font-size: x-small;
	line-height: 1.3;
	opacity: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	transition: opacity .3s ease-in-out;
	text-align: center;
	text-decoration: none;
	z-index: 100;
}

@media (prefers-color-scheme: dark) {
	[data-back-to-top] {
		background-color: #81E5d9;
	}

	.c-lay__tabs {
		--lay-tab-bgc: hsl(210, 24%, 5%, 0.97);
		--lay-tab-c: hsl(210, 24%, 98%);
		--lay-tab-bgc--cur: hsl(210, 24%, 24%);
		
	}
}