/**
 * c-mnu.css
 * @version 1.0.22
 * @summary 05-10-2020
 * @author Mads Stoumann
 * @description Stylesheet for Share Component
*/

/* Share Icons with other CSS by placing them at :root-level */
:root {
	--ico-cart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M24.719 21a2.995 2.995 0 002.91-2.273l2.311-9.242A2 2 0 0028 7H8.62l-.478-2.392A2.005 2.005 0 006.18 3H3a1 1 0 100 2h3.18l3.648 18.238A3 3 0 1013.825 27h7.35a3 3 0 100-2h-7.35a3.01 3.01 0 00-1.98-1.877L11.418 21h13.3zm3.28-12l-2.31 9.242a.998.998 0 01-.97.758H11.02l-2-10H28zM11 27a1 1 0 01-.002-2H11a1 1 0 010 2zm13-2a1 1 0 110 2 1 1 0 010-2z"></path></svg>');
	--ico-home: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M25.533 5a.87.87 0 01.743.41l2.6 4.225c.014.023.02.048.032.072a.824.824 0 01.091.36l.001.003v2.535c0 .014-.007.027-.009.041.006.179.009.37.009.593l-.002.01.002.018c0 1.637-1.103 3.014-2.617 3.5l.03 7.633c0 1.418-1.172 2.569-2.611 2.57L8.41 27c-1.589 0-2.742-1.124-2.742-2.671l-.025-7.554C4.115 16.295 3 14.915 3 13.267c0-.044.01-.087.013-.13A34.317 34.317 0 013 12.604v-2.54a.805.805 0 01.092-.358c.011-.024.017-.05.031-.072l2.6-4.225A.873.873 0 016.467 5zm-3.466 10.345a3.82 3.82 0 01-3.139 1.623A3.81 3.81 0 0116 15.592a3.811 3.811 0 01-2.93 1.376 3.82 3.82 0 01-3.137-1.623 3.802 3.802 0 01-2.555 1.565l.024 7.416c0 .273.09.863.798.963v-6.13c0-.818.683-1.484 1.523-1.484h3.785c.836 0 1.625.77 1.625 1.584v6.038l8.665-.017c.418 0 .882-.36.882-.877l-.03-7.49a3.8 3.8 0 01-2.583-1.568zm-8.667 4.02H9.933v5.915H13.4v-5.915zM21.66 18c.74 0 1.34.664 1.34 1.48v3.03c0 .807-.626 1.49-1.367 1.49h-4.295C16.6 24 16 23.336 16 22.522V19.49c0-.815.6-1.478 1.338-1.478zm-.222 1.727l-3.876.01v2.537h3.876v-2.547zm5.829-8.812H4.733v2.352c0 .063.013.121.02.183.057.612.389 1.15.884 1.48.33.218.73.348 1.158.348.202 0 .392-.038.576-.09a2.017 2.017 0 001.465-1.71l.461-.001 1.272-.003h.46c.109 1.01.977 1.804 2.042 1.804 1.067 0 1.938-.798 2.042-1.811h.041l1.692-.004h.04c.104 1.016.975 1.815 2.042 1.815 1.072 0 1.944-.802 2.043-1.821l.457-.001 1.277-.003h.456c.08.833.678 1.516 1.481 1.74.18.049.366.085.562.085.435 0 .838-.134 1.17-.359.49-.33.816-.862.874-1.47.006-.06.019-.12.019-.182v-2.352zM25.042 6.69H6.957l-1.56 2.535h21.206L25.042 6.69z"></path></svg>');
	--ico-search: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M28.7 27.3l-5.25-5.25c1.6-1.9 2.55-4.4 2.55-7.05 0-6.05-4.95-11-11-11S4 8.95 4 15s4.95 11 11 11c2.65 0 5.15-.95 7.05-2.55l5.25 5.25c.2.2.45.3.7.3.25 0 .5-.1.7-.3.4-.4.4-1 0-1.4zM6 15c0-4.95 4.05-9 9-9s9 4.05 9 9-4.05 9-9 9-9-4.05-9-9z"></path></svg>');
	--ico-user: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M22.805 15.18A7.89 7.89 0 0024 11a8 8 0 10-16 0 7.89 7.89 0 001.195 4.18A9 9 0 002 24v1a4 4 0 004 4h20a4 4 0 004-4v-1a9 9 0 00-7.195-8.82zM16 5a6 6 0 110 12 6 6 0 010-12zm12 20a2 2 0 01-2 2H6a2 2 0 01-2-2v-1a7 7 0 016.74-7 7.96 7.96 0 0010.5 0A7 7 0 0128 24v1z"></path></svg>');

	--mnu-h: 51px;
	--mnu-pos-b: 0;
	--mnu-pos-t: 1;
}

/* TODO: DEFAULT MENU: STATIC MOBILE/DESKTOP. POS: TOP ??? */
[data-menu] {
	--animn: scale-from-top;
	--animdur: .3s;
	--animtf: cubic-bezier(.77, 0, .175, 1);
	--b: initial;
	--bdf: saturate(180%) blur(15px);
	--bdw: 0 0 1px 0;
	--c: var(--c--dim);
	--icon: var(--ico-menu);
	--icon-bdw: 1px;
	--icon-bgc: var(--c--dim);
	--icon-size: 80%;
	--inner-bgc: var(--bgc--dim);
	--inner-d: flex;
	--jc: space-between;
	--item-p: 0.25rem;
	--p: 0.25rem .75rem;
	--pos: fixed;
	--size: 2rem;
	--t: calc(0px - (var(--mnu-h) * var(--scroll-d, 0)));
	--trs: top var(--animtf) var(--animdur);
	--w: 100%;

	bottom: var(--b);
	position: var(--pos);
	top: var(--t);
	transition: var(--trs);
	width: var(--w);
	will-change: transform;
	z-index: var(--z--menu);
}

[data-menu] summary {
	display: block;
	list-style-image: none;
}
[data-menu] summary::marker {
	display: none;
}
[data-menu] summary::-webkit-details-marker {
	display: none;
}

[data-menu-inner] {
	align-items: center;
	backdrop-filter: var(--bdf);
	background: var(--inner-bgc);
	border-color: var(--bdc);
	border-style: solid;
	border-width: var(--bdw);
	box-sizing: border-box;
	display: var(--inner-d);
	justify-content: var(--jc);
	min-height: var(--size);
	padding: var(--p);
	position: relative;
}

[data-menu-item] {
	--c: var(--c--dim);
	color: var(--c);
	padding: var(--item-p);
	outline: none;
	position: relative;
	user-select: none;
	z-index: var(--z--mlnk);
}
[data-menu-item*="active"] {
	--icon-bgc: var(--active);
}
[data-menu-item*="scale"] {
	background-color: var(--bgc);
	border: var(--icon-bdw) solid var(--bdc);
	border-radius: 50%;
	height: var(--size);
	transform: scale(1.35) translateY(0.35rem);
	width: var(--size);
}

[data-menu-panel] {
	--b: calc(var(--mnu-h) * var(--mnu-pos-b));
	--bgc: #FFF;
	--c: initial;
	--h: calc(100vh - var(--mnu-h, 0));
	--l: 0;
	--op: 0;
	--pos: fixed;
	--r: initial;
	--t: calc(var(--mnu-h) * var(--mnu-pos-t));
	--tx: -100vw;
	--ty: 0;

	background-color: var(--bgc);
	bottom: var(--b);
	box-sizing: border-box;
	color: var(--c);
	height: var(--h);
	left: var(--l);
	opacity: var(--op);
	padding: var(--panel-p, 0);
	position: var(--pos);
	right: var(--r);
	top: var(--t);
	transform: translate(var(--tx), var(--ty));
	transition: .3s opacity ease-in, var(--animdur) var(--animtf);
	width: 100%;
	z-index: -1;
	/* z-index: var(--z--mpnl); */
}
/* Menu-panels based on <details>-tag */
[data-menu-panel="group"] {
	--h: auto;
	--panel-p: 1rem;
	--pos: static;
	/* transform-origin: -100% 0; */
	
}
[data-menu-group][open] [data-menu-panel] {
	animation: var(--animn) var(--animdur) var(--animtf) forwards;
	/* --h: calc(100vh - var(--mnu-h)); */
	--op: 1;
	transform-origin: 0 0;
}




/* TODO */
/* [data-menu-panel="sub"] {
	--h: initial;
	--op: 1;
	--pos: static;
	transform: none;
} */

/* MODIFIERS */

/* <body> MODIFIER: Menu Position */
[data-menu-mobile="bottom"] {
	--mnu-pos-b: 1;
	--mnu-pos-t: 0;
}

[data-menu-mobile="bottom"] [data-menu] {
	--bdw: 1px 0 0 0;
	--b: 0;
	--t: auto;
}
[data-menu-mobile="bottom"] [data-menu] [data-menu-item*="scale"] {
	transform: scale(1.35) translateY(-0.35rem);
}
[data-menu-mobile="bottom"] [data-menu] [data-menu-panel] {
	--b: var(--mnu-h);
	--t: auto;
}

[data-menu-mobile="fixed"] [data-menu] {
	--t: 0:
}
[data-menu-mobile="static"] {
	--mnu-pos-b: 0;
	--mnu-pos-t: 0;
}
[data-menu-mobile="static"] [data-menu] {
	--pos: static;
	--t: initial:
}


[data-menu="top"] [data-menu-panel] {
	--b: auto;
	--t: var(--mnu-h);
}

/* Slide Direction */
[data-menu-slide="bottom"] [data-menu-panel] {
	--animn: scale-from-bottom;
	--ty: 100vh;
	--tx: 0;
}
[data-menu-slide="left"] [data-menu-panel] {
	--animn: scale-from-left;
	--ty: 0;
	--tx: -100vw;
}
[data-menu-slide="right"] [data-menu-panel] {
	--animn: scale-from-right;
	--ty: 0;
	--tx: 100vw;
}
[data-menu-slide="top"] [data-menu-panel] {
	--animn: scale-from-top;
	--ty: -100vh;
	--tx: 0;
}

/* LOGIC */
/* [data-menu-overlay-id]:not(:checked) ~ [data-menu] [data-menu-overlay] {
	display: block;
}
[name]:checked + [data-menu-item] {
	--icon-bgc: var(--active);
	z-index: 0;
} */

[data-menu-group][open] [data-menu-item] + [data-menu-panel]:not([data-menu-panel="sub"]),
input:checked + [data-menu-item] + [data-menu-panel] {
	opacity: 1;
	transform: none;
}
[data-menu-group][open] [data-menu-item] {
	--c: var(--active);
	--icon-bgc: var(--active);
}
input:checked + [data-burger] i { background-color: transparent; }
input:checked + [data-burger] i::after { transform: translateY(calc(0px - var(--m))) rotate(-45deg); }
input:checked + [data-burger] i::before { transform: translateY(var(--m)) rotate(45deg); }



/* RWD */

/* TODO: FLOAT */
@media screen and (max-width: 600px) {

	[data-menu-item="group"] {
		--item-p: 1em;
		border-bottom: 1px solid var(--bdc);
	}

	[data-menu-mobile="float"] {
		--mnu-pos-b: 0;
		--mnu-pos-t: 0;
	}
	[data-menu-mobile="float"] [data-menu] {
		--b: 1rem;
		--bdf: none;	
		--bdw: 0;
		--inner-bgc: transparent;
		--inner-d: inner-flex;
		--t: auto;
		text-align: right;
	}
	[data-menu-mobile="float"] [data-burger] {
		/* --bgc: var(--active);
		--icon-bgc: var(--active-c); */
		transform: scale(1.5) translate(-1rem, .5rem);
	}
	[data-menu-mobile="float"] [data-menu-item]:not([data-burger]) {
		display: none;
	}
	[data-menu-mobile="float"] [data-menu-item="group"] {
		display: block !important;
	}
	[data-menu-mobile="float"] [data-menu-panel] {
		--b: 0;
		--h: 100vh;
		--t: auto;
	}
}

@media screen and (min-width: 600px) {
	:root {
		--mnu-pos-b: 0;
		--mnu-pos-t: 1;
	}

	[data-menu-mobile="bottom"] [data-menu] {
		--b: auto;
		--t: 0;
	}


	[data-menu-desktop="static"] {
		--mnu-pos-t: 0;
	}
	[data-menu-desktop="static"] [data-menu] {
		--pos: relative; 
	}
	[data-menu-desktop="scroll"] [data-menu] {
		--t: calc(0px - (var(--mnu-h) * var(--scroll-d)));
		transition: top 0.3s cubic-bezier(.77, 0, .175, 1) 0s; 
		will-change: transform;
	}
	/* [data-menu="bottom"] [data-menu-panel] {
		top: 100%;
	} */
	[for="menu-toggle"] {
		display: none !important;
	}
	[data-menu-panel="root"] {
		display: contents;
	}

	[data-exp-icon]::after { display: none !important; }

	[data-menu-panel] {
		background: white;
		box-shadow: 0 4px 16px 0 rgba(0,0,0,.08);
		height: 0;
		left: 0;
		padding: 1rem;
		position: absolute;
		top: 100%;
		transform-origin: -100% 0;
		width: 100%; 
	}
	[data-menu-group][open] [data-menu-panel] {
		animation: scale-from-top .3s forwards;
		animation-timing-function: cubic-bezier(.77, 0, .175, 1);
		height: 300px;
		opacity: 1;
		transform-origin: 0 0;
	}
	/* [data-menu-overlay-id]:not(:checked) ~ [data-menu-overlay="desktop"] {
		display: block;
	} */
}
@media (prefers-color-scheme: dark) {
	[data-menu] {
		/* --bdw: 2px; */
	}
	[data-menu-item] {
		/* --c: #FFF; */
		--icon-bgc: var(--c);
	}
	[data-menu-item]:focus {
		outline: none;
		text-decoration: dotted underline;
		--c: var(--active);
	}
	/* [data-menu-group] [data-menu-item] {
		--c: #222;
	} */
}

/* ANIMATIONS */
@keyframes scale-from-bottom {
	0% { opacity: 0; transform: scaleY(0);}
	100% { opacity: 1; transform: scaleY(1); }
}
@keyframes scale-from-top {
	0% { opacity: 0; transform: scaleY(0);}
	100% { opacity: 1; transform: scaleY(1); }
}
@keyframes scale-from-left {
	0% { opacity: 0; transform: scaleX(0);}
	100% { opacity: 1; transform: scaleX(1); }
}
@keyframes scale-from-right {
	0% {
		opacity: 0;
		transform-origin: 100% 0;
		transform: scaleX(0);
	}
	100% { opacity: 1; transform: scaleX(1); }
}


/* EXTRAS */

/* Accordion Icons: Caret, Right Arrow or Plus/Minus. 
Add as data-attribute to <span> within <summary>, or to a label directly after a checkbox/radio.
https://www.nngroup.com/articles/accordion-icons/
*/
[data-exp-icon] {
	--animdur: .3s;
	--animtf: ease-in;
	--bdw: 1px;
	--c: currentColor;
	--size: 0.75rem;

	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
}
[data-exp-icon]::after {
	transition: transform var(--animdur) var(--animtf);
}
[data-exp-icon="caret"]::after,
[data-exp-icon="right"]::after {
	border-color: var(--c);
	border-style: solid;
	content: '';
	display: inline-block;
	height: var(--size);
	margin: 0;
	width: var(--size);
}
[data-exp-icon="caret"]::after {
	border-width: 0 var(--bdw) var(--bdw) 0;
	transform: rotate(45deg) translate(calc(var(--size) / -2), 0em);
}
[data-exp-icon="plus"]::after,
[data-exp-icon="plus"]::before {
	--w: calc(var(--size) * 1.4142135623730950488016887242097);
	background: var(--c);
	border: 0;
	content: '';
	height: var(--bdw);
	right: calc(((var(--w) - var(--size)) / 2));
	position: absolute;
	/* Width need to be the diagonal of the caret side-length (--size): sqrt(2) * --size. */
	width: var(--w);
}
[data-exp-icon="plus"]::after {
	transform: rotate(-90deg);
}
[data-exp-icon="right"]::after {
	border-width: var(--bdw) var(--bdw) 0 0;
	transform: rotate(45deg) translate(calc(var(--size) / -2), calc(var(--size) / 2));
}
input:checked + [data-exp-icon]::after,
[open] > summary > [data-exp-icon]::after {
	transform: rotate(45deg) scale(-1) translate(0em, calc(var(--size) / -2));
}
input:checked + [data-exp-icon="plus"]::after,
[open] > summary > [data-exp-icon="plus"]::after {
	transform: rotate(0deg);
}
input:checked + [data-exp-icon="right"]::after,
[open] > summary > [data-exp-icon="right"]::after {
	transform: rotate(-45deg) scale(-1) translate(0em, calc(var(--size) / 2));
}

/* Burger Icon - turns into a cross when checked. */
/* TODO: MAKE MORE GENERIC (VARS) */
[data-burger] {
	--bdrs: 2px;
	--h: 2px;
	--m: 7px;
	--w: 24px;
	align-items: center;
	display: inline-flex;
	height: var(--size);
	justify-content: center;
	position: relative;
	width: var(--size);
}
[data-burger][data-menu-item="scale"] {
	--m: 6px;
	--w: 20px;
}
[data-burger] i,
[data-burger] i::after,
[data-burger] i::before {
	background-color: var(--icon-bgc);
	border-radius: var(--bdrs);
	content: "";
	display: block;
	height: var(--h);
	justify-content: center;
	position: absolute;
	transition-duration: 0.3s;
	transition-property: background-color, transform;
	width: var(--w);
}
[data-burger] i::after { top: var(--m); }
[data-burger] i::before { top: calc(0px - var(--m)); }

/* ICONS */
/* TODO: MAKE MORE GENERIC (VARS) */
[data-icon] {
	background-color: var(--icon-bgc);
	display: block;
	height: var(--size);
	mask: no-repeat center center/var(--icon-size) var(--icon);
	-webkit-mask: no-repeat center center/var(--icon-size) var(--icon);
	width: var(--size);
}
[data-icon="cart"] { --icon: var(--ico-cart); }
[data-icon="home"] { --icon: var(--ico-home); }
[data-icon="search"] { --icon: var(--ico-search); }
[data-icon="user"] { --icon: var(--ico-user); }