/**
 * c-sec.css
 * @version 1.0.16
 * @summary 16-02-2020
 * @author Mads Stoumann
 * @description Stylesheet for Snap Scroll Section
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'config.css';

.c-sec {
	--snp-btn-sz: 52px;
	--snp-dot-bdrs: 50%;
	--snp-dot-bgc: grey;
	--snp-dot-bgc--cur: tomato;
	--snp-dot-m: 0 0.25rem;
	--snp-dot-h: 0.5rem;
	--snp-dots-m: 1rem 0 0 0;
	--snp-dot-w: 0.5rem;
	--snp-gap: 10px;
	--snp-gap-desktop: 20px;
	--snp-nav-z: 100;
	--snp-scrbar-bdrs: 1rem;
	--snp-scrbar-bg: grey;
	--snp-scrbar-sz: 0.5rem;
	--snp-scroll-w: 1200px;
	--snp-scroll-max-w: (max-width: 1200px);

	max-width: 100%;
	padding: var(--snp-gap) 0;
	position: relative;
	scroll-behavior: smooth;
}
/* TODO */
.c-sec__btn {
	border: 0;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	width: var(--snp-btn-sz);
	height: var(--snp-btn-sz);
	border-radius: var(--snp-btn-sz);
	background-color: rgba(214,214,214,.25);
	color: rgba(136,136,136,.8);
	box-sizing: border-box;
	opacity: 1;
	transition: .25s background-color linear,.25s color linear,.25s opacity linear;
}
/* .c-sec:hover .c-sec__btn {
	background-color: rgba(214,214,214,1);
} */
.c-sec__btn:disabled {
	display: none;
}
.c-sec__btn[rel="next"] {
	position: absolute;
	right: var(--snp-gap);
}
.c-sec__btn[rel="prev"] {
	left: var(--snp-gap);
	position: absolute;
}
[dir="rtl"] .c-sec__btn[rel="next"] {
	left: var(--snp-gap);
	right: auto;
}
[dir="rtl"] .c-sec__btn[rel="prev"] {
	left: auto;
	right: var(--snp-gap);
}
.c-sec__description {
	margin-inline-end: var(--snp-gap);
	margin-inline-start: var(--snp-gap);
}
.c-sec__dot {
	background-color: var(--snp-dot-bgc);
	border: 0;
	border-radius: var(--snp-dot-bdrs);
	box-sizing: border-box;
	display: block;
	height: var(--snp-dot-h);
	margin: var(--snp-dot-m);
	padding: 0;
	transition: .3s ease, background-color 0.3s ease;
	width: var(--snp-dot-w);
}
.c-sec__dot--current {
	background-color: var(--snp-dot-bgc--cur);
	/* transform: scale(1.5); */
}
.c-sec__dot--line .c-sec__dot {
	--snp-dot-bdrs: 0;
	--snp-dot-h: 2px;
	--snp-dot-w: 40px;
}
.c-sec__dots {
	display: none;
	justify-content: center;
	/* margin: var(--snp-dots-m); */
}
.c-sec__headline {
	margin-inline-end: var(--snp-gap);
	margin-inline-start: var(--snp-gap);
	margin-top: 0;
}
.c-sec__item {
	box-sizing: border-box;
	margin-inline-start: var(--snp-gap);
	min-width: 80%;
	position: relative;
	scroll-margin-inline-start: var(--snp-gap);
	scroll-snap-align: start;
	width: 80%;
}
.c-sec__item:last-of-type::after {
	border-inline-end: var(--snp-gap) solid transparent;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: calc(0px - var(--snp-gap));
	top: 0;
}
[dir="rtl"] .c-sec__item:last-of-type {
	scroll-margin-inline-end: var(--snp-gap);
}
[dir="rtl"] .c-sec__item:last-of-type::after {
	left: calc(0px - var(--snp-gap));
	right: auto;
}
.c-sec__nav {
	display: none;
	height: var(--snp-btn-sz);
	justify-content: space-between;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: var(--snp-nav-z);
}
.c-sec__nav-inner {
	margin: 0 auto;
	max-width: var(--snp-scroll-w);
	position: relative;
	width: 100%;
}
.c-sec__scroller {
	align-items: center;
	display: flex;
	margin: 0 auto;
	max-width: var(--snp-scroll-w);
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

/* Modifiers */

/* Stack items instead of `overflow: scroll` */
.c-sec[data-section-type="stack"] {
	padding-bottom: 0;
}
[data-section-type="stack"] .c-sec__scroller {
	flex-wrap: wrap;
	overflow-x: hidden;
	padding-bottom: 0;
}
[data-section-type="stack"] .c-sec__item {
	margin-bottom: var(--snp-gap);
	width: calc(100% - (var(--snp-gap) * 2));
}
/* Sub-modifier: Glue 2 items together, only works with 2 items per page */
[data-item-gap="none"][data-items-per-page=":2"] .c-sec__item:first-of-type {
	margin-bottom: 0;
}

/* Desktop */
@media screen and (min-width: 768px) {
	.c-sec {
		--snp-gap: var(--snp-gap-desktop);
		padding: var(--snp-gap);
	}
	.c-sec__dots {
		display: flex;
	}
	.c-sec__dots[hidden] {
		display: none;
	}
	.c-sec__description,
	.c-sec__headline {
		margin-inline-end: auto;
		margin-inline-start: auto;
		max-width: var(--snp-scroll-w);
	}
	.c-sec__item {
		scroll-margin-inline-start: 0;
	}
	.c-sec__item:first-of-type {
		margin-inline-start: 0;
	}
	.c-sec__item:last-of-type::after {
		display: none;
	}
	.c-sec__nav {
		display: flex;
	}
	.c-sec__scroller {
		padding-bottom: var(--snp-gap);
		/* scrollbar-color: var(--snp-scrbar-bg) transparent;
		scrollbar-width: thin; */
	}
	.c-sec__scroller--overflow {
		overflow: hidden;
		/* padding-bottom: 0; */
	}
	.c-sec__scrollbar::-webkit-scrollbar {
		height: var(--snp-scrbar-sz);
		width: var(--snp-scrbar-sz);
	}
	.c-sec__scrollbar::-webkit-scrollbar-track {
		-webkit-border-radius: var(--snp-scrbar-bdrs);
		border-radius: var(--snp-scrbar-bdrs);
	}
	.c-sec__scrollbar::-webkit-scrollbar-thumb {
		background: var(--snp-scrbar-bg);
		-webkit-border-radius: var(--snp-scrbar-bdrs);
		border-radius: var(--snp-scrbar-bdrs);
	}
	.c-sec__scrollbar::-webkit-scrollbar-thumb:window-inactive {
		background: var(--snp-scrbar-bg); 
	}

	/* Modifiers */

	/* Items Per Page */
	[data-items-per-page=":2"] .c-sec__item {
		min-width: calc(50% - (var(--snp-gap) / 2));
		width: calc(50% - (var(--snp-gap) / 2));
	}
	[data-items-per-page=":3"] .c-sec__item {
		min-width: calc((100% / 3) - (var(--snp-gap) / (3/2)));
		width: calc((100% / 3) - (var(--snp-gap) / (3/2)));
	}
	[data-items-per-page=":4"] .c-sec__item {
		min-width: calc(25% - (var(--snp-gap) / (4/3)));
		width: calc(25% - (var(--snp-gap) / (4/3)));
	}
	[data-items-per-page=":5"] .c-sec__item {
		min-width: calc(20% - (var(--snp-gap) / (5/4)));
		width: calc(20% - (var(--snp-gap) / (5/4)));
	}
	[data-items-per-page=":6"] .c-sec__item {
		min-width: calc((100% / 6) - (var(--snp-gap) / (6/5)));
		width: calc((100% / 6) - (var(--snp-gap) / (6/5)));
	}
	[data-items-per-page] .c-sec__item:nth-child(1n+2) {
		margin-inline-start: var(--snp-gap);
	}

	[data-item-gap="none"][data-items-per-page] .c-sec__item {
		margin-inline-start: 0;
	}
	[data-item-gap="none"][data-items-per-page=":3"] .c-sec__item {
		min-width: calc(100% / 3);
		width: calc(100% / 3);
	}

	/* Section Widths */
	[data-section-width="medium"] {
		--snp-scroll-w: 1000px;
	}

	/* Align Center: Shows snippets/previews of previous and next items. 
	This only works with odd numbers, like 1, 3 and 5 */
	[data-align="center"] .c-sec__item {
		scroll-snap-align: center;
	}
	[data-align="center"][data-items-per-page=":3"] .c-sec__item {
		min-width: 27.5%;
		width: 27.5%;
	}
	.c-sec__item.c-sec__item--left {
		background-color: green; /* DEMO */
		opacity: 0.3;
	}
	.c-sec__item.c-sec__item--right {
		background-color: tomato; /* DEMO */
		opacity: 0.3;
	}

	/* Stack items instead of `overflow: scroll` */
	[data-section-type="stack"][data-items-per-page=":2"] .c-sec__item:nth-of-type(3n) {
		margin-inline-start: 0;
	}
	[data-section-type="stack"][data-items-per-page=":3"] .c-sec__item:nth-of-type(4n) {
		margin-inline-start: 0;
	}
	[data-section-type="stack"][data-items-per-page=":4"] .c-sec__item:nth-of-type(5n) {
		margin-inline-start: 0;
	}
	/* Sub-modifier: Glue 2 items together, only works with 2 items per page */
	[data-item-gap="none"][data-items-per-page=":2"] .c-sec__item {
		width: 50%;
	}
	[data-item-gap="none"][data-items-per-page=":2"] .c-sec__item:first-of-type {
		margin-bottom: var(--snp-gap);
	}
	[data-item-gap="none"][data-items-per-page=":2"] .c-sec__item:last-of-type {
		margin-inline-start: 0;
	}
}

/* TODO Touch */
@media (hover: none) and (pointer: coarse) {
	/* ... */
}