/**
 * c-sec.css
 * @version 1.2.3
 * @summary 24-06-2020
 * @author Mads Stoumann
 * @description Stylesheet for Snap Scroll Section
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'config.css';

.c-sec {
	/* Dots */
	--sec-dot-bdrs: 50%;
	--sec-dot-bgc: grey;
	--sec-dot-bgc--cur: tomato;
	--sec-dot-m: 0 0.25rem;
	--sec-dot-h: 0.5rem;
	--sec-dots-m: 1rem 0 0 0;
	--sec-dot-pb: var(--sec-gap);
	--sec-dot-w: 0.5rem;

	/* Scrollbar */
	--sec-scrbar-bdrs: 0;
	--sec-scrbar-bg: rgb(224, 224, 224);
	--sec-scrbar-thumb-bg: rgb(117, 117, 117);
	--sec-scrbar-sz: 0.25rem;

	/* Navigation */
	--sec-nav-btn-sz: 52px;
	--sec-nav-btn-z: 1;

	--sec-bg: #FFF;
	--sec-gap: 10px;
	--sec-m: 0 auto;
	--sec-maw: 1600px;
	--sec-pl: var(--sec-gap);
	--sec-pr: var(--sec-gap);

	--sec-desc-pb: var(--sec-gap);
	--sec-desc-pt: initial;
	--sec-desc-tal: center;
	--sec-desc-maw: 100%;

	--sec-expand-h: 250px;

	--sec-head-maw: 100%;
	--sec-head-pb: initial;
	--sec-head-pt: initial;
	--sec-head-tal: center;

	
	
	--sec-inner-pb: var(--sec-gap);
	--sec-inner-w: 1200px;

	--sec-item-gap: var(--sec-gap);
	--sec-item-mb: var(--sec-gap); /* TODO ? */
	--sec-item-mis: var(--sec-gap);
	--sec-item-smis: var(--sec-gap);
	--sec-item-w: 90%;

	background: var(--sec-bg);
	margin: var(--sec-m);
	max-width: var(--sec-maw);
	position: relative;
	scroll-behavior: smooth;
	/* transition: transform 300ms, opacity 600ms ease-in-out; */
}

.c-sec__description,
.c-sec__headline {
	margin: 0 auto;
	max-width: var(--sec-inner-w);
	padding-inline-end: var(--sec-gap);
	padding-inline-start: var(--sec-gap);
}
.c-sec__description {
	max-width: var(--sec-desc-maw);
	padding-bottom: var(--sec-desc-pb);
	padding-top: var(--sec-desc-pt);
	text-align: var(--sec-desc-tal);
}
.c-sec__headline {
	max-width: var(--sec-head-maw);
	padding-bottom: var(--sec-head-pb);
	padding-top: var(--sec-head-pt);
	text-align: var(--sec-head-tal);
}
.c-sec__inner {
	align-items: center;
	display: flex;
	margin: 0 auto;
	max-width: var(--sec-inner-w);
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: var(--sec-inner-pb);
	scroll-snap-type: x mandatory;
}
.c-sec__item {
	/* --sec-w16: calc((100% / 6) - (var(--sec-gap) / var(--sec-gap-num, 2)));
	--sec-w20: calc(20% - (var(--sec-gap) / var(--sec-gap-num, 2))); */
	--sec-w25: calc(25% - (var(--sec-item-gap) / var(--sec-gap-num, 2)));
	--sec-w33: calc((100% / 3) - (var(--sec-item-gap) / var(--sec-gap-num, 2)));
	--sec-w50: calc(50% - (var(--sec-item-gap) / var(--sec-gap-num, 2)));
	--sec-w66: calc((100% / 1.5) - (var(--sec-item-gap) / var(--sec-gap-num, 2)));
	--sec-w75: calc(75% - (var(--sec-item-gap) / var(--sec-gap-num, 2)));

	box-sizing: border-box;
	margin-inline-start: var(--sec-item-mis);
	min-width: var(--sec-item-w);
	position: relative;
	scroll-margin-inline-start: var(--sec-item-smis);
	scroll-snap-align: start;
	width: var(--sec-item-w);

	/* Safari */
	scroll-snap-margin: var(--sec-gap);
}
.c-sec__item:last-of-type::after {
	border-inline-end: var(--sec-gap) solid transparent;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: calc(0px - var(--sec-gap));
	top: 0;

	/* Safari */
	border-right: var(--sec-gap) solid transparent;
}
.c-sec__outer {
	position: relative;
}

/* 
==========
MODIFIERS
==========
*/
[data-section-type="stack"] {
	padding-left: var(--sec-pl);
	padding-right: var(--sec-pr);
}
[data-section-type="stack"] .c-sec__inner {
	flex-wrap: wrap;
	overflow-x: hidden;
	--sec-inner-pb: 0;
	/* padding-bottom: 0; TODO */
}
[data-section-type="stack"] .c-sec__item {
	margin-bottom: var(--sec-item-mb); /* TODO */
}

/*
====
RWD
====
*/
@media screen and (min-width: 768px) {
	.c-sec {
		--sec-gap: 20px;
	}
}
@media screen and (min-width: 1024px) {
	/* Hide overflow and use JavaScript-based navigation on larger screen-sizes */
	.c-sec__inner--overflow {
		overflow: hidden;
	}
}
@media screen and (min-width: 1200px) {
	.c-sec {
		--sec-gap: 24px;
	}
	.c-sec__item {
		scroll-margin-inline-start: 0;
	}
	.c-sec__item:last-of-type::after {
		display: none;
	}
}

/*
=============
LAYOUT PHONE
=============
*/
@media screen and (max-width: 767px) {
	/* 50% */
	[data-layout="50:50"] .c-sec__item {
		min-width: var(--sec-w50);
		width: var(--sec-w50);
	}
	[data-section-type="slider"][data-layout="50:50"] .c-sec__item {
		--sec-gap-num: (2/3);
	}
	[data-section-type="stack"][data-layout="50:50"] .c-sec__item:nth-of-type(2n+1) {
		--sec-item-mis: 0;
	}
	/* 100% */
	[data-section-type="slider"][data-layout="100"] .c-sec__item {
		min-width: calc(100% - (var(--sec-gap) * 2));
		width: calc(100% - (var(--sec-gap) * 2));
	}
	[data-section-type="stack"][data-layout="100"] .c-sec__item {
		--sec-item-mis: 0;
		width: 100%;
	}
}

/*
==============
LAYOUT TABLET 
==============
*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
	/* 25% */
	[data-layout-tablet="25:25:25:25"] .c-sec__item {
		--sec-gap-num: (4/3);
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-section-type="slider"][data-layout-tablet="25:25:25:25"] .c-sec__item {
		--sec-gap-num: (4/5);
	}
	/* 25% / 75% */
	[data-layout-tablet="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-tablet="75:25"] .c-sec__item:nth-of-type(2n+2) {
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-layout-tablet="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-tablet="25:75"] .c-sec__item:nth-of-type(2n+2) {
		min-width: var(--sec-w75);
		width: var(--sec-w75);
	}
	[data-section-type="slider"][data-layout-tablet="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-tablet="75:25"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 1;
	}
	[data-section-type="slider"][data-layout-tablet="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-tablet="25:75"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 0.5;
	}
	/* 25% / 50% */
	[data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+2),
	[data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+3) {
		min-width: var(--sec-w50);
		width: var(--sec-w50);
	}
	[data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+3),
	[data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+2),
	[data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+3),
	[data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+2) {
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-section-type="slider"][data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+3) {
		--sec-gap-num: 1;
	}
	[data-section-type="slider"][data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+2) {
		--sec-gap-num: (2/3);
	}
	/* 33% */
	[data-layout-tablet="33:33:33"] .c-sec__item {
		--sec-gap-num: (3/2);
		min-width: var(--sec-w33);
		width: var(--sec-w33);
	}
	[data-section-type="slider"][data-layout-tablet="33:33:33"] .c-sec__item {
		--sec-gap-num: (3/4);
	}
	/* 33% / 66% */
	[data-layout-tablet="66:33"] .c-sec__item:nth-of-type(2n+2),
	[data-layout-tablet="33:66"] .c-sec__item:nth-of-type(2n+1) {
		--sec-gap-num: (3/2);
		min-width: var(--sec-w33);
		width: var(--sec-w33);
	}
	[data-layout-tablet="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-tablet="33:66"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 3;
		min-width: var(--sec-w66);
		width: var(--sec-w66);
	}
	[data-section-type="slider"][data-layout-tablet="66:33"] .c-sec__item:nth-of-type(2n+2),
	[data-section-type="slider"][data-layout-tablet="33:66"] .c-sec__item:nth-of-type(2n+1) {
		--sec-gap-num: 1;
	}
	[data-section-type="slider"][data-layout-tablet="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-tablet="33:66"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: (1/2);
	}
	/* 50% */
	[data-layout-tablet="50:50"] .c-sec__item {
		min-width: var(--sec-w50);
		width: var(--sec-w50);
	}
	[data-section-type="slider"][data-layout-tablet="50:50"] .c-sec__item {
		--sec-gap-num: (2/3);
	}

		/* 100% */
		[data-section-type="slider"][data-layout-tablet="100"] .c-sec__item {
			min-width: calc(100% - (var(--sec-gap) * 2));
			width: calc(100% - (var(--sec-gap) * 2));
		}
		[data-section-type="stack"][data-layout-tablet="100"] .c-sec__item {
			--sec-item-mis: 0;
			width: 100%;
		}

	/* STACK: Remove margin-inline-start from first item in each row */
	[data-section-type="stack"][data-layout-tablet="25:25:25:25"] .c-sec__item:nth-of-type(4n+1),
	[data-section-type="stack"][data-layout-tablet="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-tablet="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-tablet="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-tablet="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-tablet="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-tablet="33:33:33"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-tablet="33:66"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-tablet="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-tablet="50:50"] .c-sec__item:nth-of-type(2n+1) {
		--sec-item-mis: 0;
	}
}

/*
===============
LAYOUT DESKTOP 
===============
*/
@media screen and (min-width: 1200px) {
	/* 25% */
	[data-layout-desktop="25:25:25:25"] .c-sec__item {
		--sec-gap-num: (4/3);
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-section-type="slider"][data-layout-desktop="25:25:25:25"] .c-sec__item {
		--sec-gap-num: (4/3);
	}
	/* 25% / 75% */
	[data-layout-desktop="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-desktop="75:25"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: (4/3);
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-layout-desktop="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-desktop="25:75"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 4;
		min-width: var(--sec-w75);
		width: var(--sec-w75);
	}
	[data-section-type="slider"][data-layout-desktop="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-desktop="75:25"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 1;
	}
	[data-section-type="slider"][data-layout-desktop="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-desktop="25:75"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 0.5;
	}
	/* 25% / 50% */
	[data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+2),
	[data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+3) {
		--sec-gap-num: (3/2);
		min-width: var(--sec-w50);
		width: var(--sec-w50);
	}
	[data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+3),
	[data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+2),
	[data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+3),
	[data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+2) {
		--sec-gap-num: (3/2);
		min-width: var(--sec-w25);
		width: var(--sec-w25);
	}
	[data-section-type="slider"][data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+3) {
		--sec-gap-num: (3/2);
	}
	[data-section-type="slider"][data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+2),
	[data-section-type="slider"][data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+3),
	[data-section-type="slider"][data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="slider"][data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+2) {
		--sec-gap-num: (3/2);
	}
	/* 33% */
	[data-layout-desktop="33:33:33"] .c-sec__item {
		--sec-gap-num: (3/2);
		min-width: var(--sec-w33);
		width: var(--sec-w33);
	}
	[data-section-type="slider"][data-layout-desktop="33:33:33"] .c-sec__item {
		--sec-gap-num: 1.5;
	}
	/* 33% / 66% */
	[data-layout-desktop="66:33"] .c-sec__item:nth-of-type(2n+2),
	[data-layout-desktop="33:66"] .c-sec__item:nth-of-type(2n+1) {
		min-width: var(--sec-w33);
		width: var(--sec-w33);
	}
	[data-layout-desktop="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-layout-desktop="33:66"] .c-sec__item:nth-of-type(2n+2) {
		min-width: var(--sec-w66);
		width: var(--sec-w66);
	}
	[data-section-type="slider"][data-layout-desktop="66:33"] .c-sec__item:nth-of-type(2n+2),
	[data-section-type="slider"][data-layout-desktop="33:66"] .c-sec__item:nth-of-type(2n+1) {
		--sec-gap-num: 1;
	}
	[data-section-type="slider"][data-layout-desktop="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="slider"][data-layout-desktop="33:66"] .c-sec__item:nth-of-type(2n+2) {
		--sec-gap-num: 0.5;
	}
	/* 50% */
	[data-layout-desktop="50:50"] .c-sec__item {
		min-width: var(--sec-w50);
		width: var(--sec-w50);
	}
	[data-section-type="slider"][data-layout-desktop="50:50"] .c-sec__item {
		--sec-gap-num: (2/3);
	}

	/* STACK: Remove margin-inline-start from first item in each row */
	[data-section-type="stack"][data-layout-desktop="25:25:25:25"] .c-sec__item:nth-of-type(4n+1),
	[data-section-type="stack"][data-layout-desktop="25:75"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-desktop="75:25"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-desktop="50:25:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-desktop="25:50:25"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-desktop="25:25:50"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-desktop="33:33:33"] .c-sec__item:nth-of-type(3n+1),
	[data-section-type="stack"][data-layout-desktop="33:66"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-desktop="66:33"] .c-sec__item:nth-of-type(2n+1),
	[data-section-type="stack"][data-layout-desktop="50:50"] .c-sec__item:nth-of-type(2n+1) {
		--sec-item-mis: 0;
	}
}

/*
=====================
FIRST AND LAST ITEMS
=====================
*/
.c-sec__item.c-sec__item--left::after,
.c-sec__item.c-sec__item--right::after {
	/* content: ''; */
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.c-sec__item.c-sec__item--left *,
.c-sec__item.c-sec__item--right * {
	box-shadow: none;
	opacity: 0.3;
}
.c-sec__item.c-sec__item--left::after {
	background-image: linear-gradient(to left, transparent 20px, var(--sec-bg) 60px);
	right: 0;
}
.c-sec__item.c-sec__item--right::after {
	background-image: linear-gradient(to right, transparent 20px, var(--sec-bg) 60px);
	left: 0;
}
.c-sec__item.c-sec__item--left {
	/* transform: scaleY(0.95); */
}
.c-sec__item.c-sec__item--right {
	transform: scaleY(0.95);
	/* transition: transform 300ms, opacity 600ms ease-in-out;  */
}


/*
===========
NAVIGATION
===========
*/
.c-sec__nav {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	
}
.c-sec__nav-inner {
	align-items: center;
	display: flex;
	height: calc(100% - var(--sec-inner-pb));
	margin: 0 auto;
	max-width: var(--sec-inner-w);
	position: relative;
	width: 100%;
}
/* TODO: Create variables, control placement */
.c-sec__nav-btn {
	background-color: #222;
	border: 0;
	border-radius: var(--sec-nav-btn-sz);
	color: #FFF;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	height: var(--sec-nav-btn-sz);
	text-align: center;
	transition: .25s background-color linear,.25s color linear,.25s opacity linear;
	width: var(--sec-nav-btn-sz);
	z-index: var(--sec-nav-btn-z);
}
.c-sec__nav-btn:disabled {
	display: none;
}
.c-sec__nav-btn[rel="next"] {
	position: absolute;
	right: var(--sec-gap);
}
.c-sec__nav-btn[rel="prev"] {
	left: var(--sec-gap);
	position: absolute;
}
[dir="rtl"] .c-sec__nav-btn[rel="next"] {
	left: var(--sec-gap);
	right: auto;
}
[dir="rtl"] .c-sec__nav-btn[rel="prev"] {
	left: auto;
	right: var(--sec-gap);
}

/*
==========
SCROLLBAR
==========
*/
.c-sec__inner {
	scrollbar-color: var(--sec-scrbar-thumb-bg) var(--sec-scrbar-bg);
	scrollbar-width: var(--sec-scrbar-sz);
}
.c-sec__inner::-webkit-scrollbar {
	background: var(--sec-scrbar-bg);
	border-radius: var(--sec-scrbar-bdrs);
	height: var(--sec-scrbar-sz);
	width: var(--sec-scrbar-sz);
}
.c-sec__inner::-webkit-scrollbar-button {
	background: var(--sec-bg);
}
.c-sec__inner::-webkit-scrollbar-track {
	-webkit-border-radius: var(--sec-scrbar-bdrs);
	border-radius: var(--sec-scrbar-bdrs);
}
.c-sec__inner::-webkit-scrollbar-thumb {
	background: var(--sec-scrbar-thumb-bg);
	-webkit-border-radius: var(--sec-scrbar-bdrs);
	border-radius: var(--sec-scrbar-bdrs);
}
.c-sec__inner::-webkit-scrollbar-thumb:window-inactive {
	background: var(--sec-scrbar-thumb-bg); 
}

/*
=====
DOTS
=====
*/
.c-sec__dot {
	background-color: var(--sec-dot-bgc);
	border: 0;
	border-radius: var(--sec-dot-bdrs);
	box-sizing: border-box;
	display: block;
	height: var(--sec-dot-h);
	margin: var(--sec-dot-m);
	padding: 0;
	transition: .3s ease, background-color 0.3s ease-in;
	width: var(--sec-dot-w);
}
.c-sec__dot--current {
	background-color: var(--sec-dot-bgc--cur);
}
.c-sec__dots {
	display: flex;
	justify-content: center;
	padding-bottom: var(--sec-dot-pb);
	position: relative;
}

/* Modifiers */
.c-sec__dot.c-sec__dot--line {
	--sec-dot-bdrs: 0;
	--sec-dot-h: 2px;
	--sec-dot-w: 40px;
}

/*
=========
EXPANDED
=========
*/
[data-expanded="false"] .c-sec__outer::after {
	background-image: linear-gradient(to bottom, transparent, var(--sec-bg) 80%);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
[data-expanded] .c-sec__inner {
	height: var(--sec-expand-h);
	transition: height .5s ease-in;
}

/*
==========
ANIMATION
==========
*/
.c-sec__item:nth-of-type(1) { animation-delay: 25ms; }
.c-sec__item:nth-of-type(2) { animation-delay: 100ms; }
.c-sec__item:nth-of-type(3) { animation-delay: 200ms; }
.c-sec__item:nth-of-type(4) { animation-delay: 300ms; }
.c-sec__item:nth-of-type(5) { animation-delay: 400ms; }
.c-sec__item:nth-of-type(6) { animation-delay: 500ms; }

/*
=======================
PREVIEW NEXT/PREV ITEM
=======================
This only works with odd numbers, like 1, 3 and 5
*/
@media screen and (min-width: 768px) {
	[data-section-type="slider"][data-align="center"] .c-sec__item {
		scroll-snap-align: center;
	}

	[data-section-type="slider"][data-align="center"][data-layout-tablet="33:33:33"] .c-sec__item,
	[data-section-type="slider"][data-align="center"][data-layout-desktop="33:33:33"] .c-sec__item {
		min-width: 27.5%;
		width: 27.5%;
	}
	[data-section-type="slider"][data-align="center"][data-layout="100"] .c-sec__item {
		min-width: 77.5%;
		width: 77.5%;
	}
}

/*
=========================
GAPS, MARGIN AND PADDING
=========================
TODO TODO TODO 
*/

.c-sec--mb { margin-bottom: var(--sec-gap); }

[data-gap="none"] {
	--sec-gap: 0px;
	--sec-item-mb: 0px;
}
[data-gap="none"] .c-sec__inner {
	padding-left: 8px; /* TODO */
	padding-right: 8px;
}

/*
==============
RIGHT-TO-LEFT
==============
*/
[dir="rtl"] .c-sec__item:last-of-type {
	scroll-margin-inline-end: var(--sec-gap);
}
[dir="rtl"] .c-sec__item:last-of-type::after {
	left: calc(0px - var(--sec-gap));
	right: auto;
}

/* HEADLINES > MOVE */
.c-headline--h1 {
	font-size: 3rem;
}

/* TODO Touch */
@media (hover: none) and (pointer: coarse) {
	/* ... */
}

