/**
 * c-snp.css
 * @version 1.0.15
 * @summary 15-02-2020
 * @author Mads Stoumann
 * @description Stylesheet for Snap Scroll Section
	Variables are concatinated from: 
	- element-prefix + 
	- emmet-css-abbreviation + 
	- modifier (:active, :disabled, :focus, :hover)
	More on emmett: https://docs.emmet.io/cheat-sheet/
*/
@import 'config.css';

.c-snp {
	--snp-dot-bgc: grey;
	--snp-dot-bgc--cur: tomato;
	--snp-dot-m: 0 0.25rem;
	--snp-dot-sz: 0.5rem;
	--snp-dots-m: 1rem 0 0 0;
	--snp-gap: 10px;
	--snp-gap-desktop: 20px;
	--snp-nav-z: 100;
	--snp-scrbar-bdrs: 1rem;
	--snp-scrbar-bg: grey;
	--snp-scrbar-sz: 0.5rem;
	--snp-scroll-w: 1200px;

	max-width: 100%;
	padding: var(--snp-gap) 0;
	position: relative;
	scroll-behavior: smooth;
}
.c-snp__btn:disabled {
	display: none;
}
.c-snp__btn[rel="next"] {
	position: absolute;
	right: var(--snp-gap);
}
.c-snp__btn[rel="prev"] {
	left: var(--snp-gap);
	position: absolute;
}
[dir="rtl"] .c-snp__btn[rel="next"] {
	left: var(--snp-gap);
	right: auto;
}
[dir="rtl"] .c-snp__btn[rel="prev"] {
	left: auto;
	right: var(--snp-gap);
}
.c-snp__dot {
	background-color: var(--snp-dot-bgc);
	border: 0;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: var(--snp-dot-sz);
	margin: var(--snp-dot-m);
	padding: 0;
	transition: .3s ease, background-color 0.3s ease;
	width: var(--snp-dot-sz);
}
.c-snp__dot--current {
	background-color: var(--snp-dot-bgc--cur);
	transform: scale(1.5);
}
.c-snp__dots {
	display: none;
	justify-content: center;
	margin: var(--snp-dots-m);
}
.c-snp__headline {
	margin-inline-end: var(--snp-gap);
	margin-inline-start: var(--snp-gap);
	margin-top: 0;
}
.c-snp__item {
	box-sizing: border-box;
	margin-inline-start: var(--snp-gap);
	min-width: 80%;
	position: relative;
	scroll-margin-inline-start: var(--snp-gap);
	scroll-snap-align: start;
	width: 80%;
}
.c-snp__item:last-of-type::after {
	border-inline-end: var(--snp-gap) solid transparent;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: calc(0px - var(--snp-gap));
	top: 0;
}
[dir="rtl"] .c-snp__item:last-of-type {
	scroll-margin-inline-end: var(--snp-gap);
}
[dir="rtl"] .c-snp__item:last-of-type::after {
	left: calc(0px - var(--snp-gap));
	right: auto;
}
.c-snp__nav {
	display: none;
	justify-content: space-between;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: var(--snp-nav-z);
}
.c-snp__nav-inner {
	margin: 0 auto;
	max-width: var(--snp-scroll-w);
	position: relative;
	width: 100%;
}
.c-snp__scroller {
	align-items: center;
	display: flex;
	margin: 0 auto;
	max-width: var(--snp-scroll-w);
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

/* Modifiers */

/* Stack items instead of `overflow: scroll` */
.c-snp[data-stack] {
	padding-bottom: 0;
}
[data-stack] .c-snp__scroller {
	flex-wrap: wrap;
	overflow-x: hidden;
	padding-bottom: 0;
}
[data-stack] .c-snp__item {
	margin-bottom: var(--snp-gap);
	width: calc(100% - (var(--snp-gap) * 2));
}
/* Sub-modifier: Glue 2 items together, only works with 2 items per page */
[data-stack="no-gap"][data-items-per-page=":2"] .c-snp__item:first-of-type {
	margin-bottom: 0;
}

/* Desktop */
@media screen and (min-width: 768px) {
	.c-snp {
		--snp-gap: var(--snp-gap-desktop);
		padding: var(--snp-gap);
	}
	.c-snp__dots {
		display: flex;
	}
	.c-snp__dots[hidden] {
		display: none;
	}
	.c-snp__headline {
		margin-inline-end: auto;
		margin-inline-start: auto;
		max-width: var(--snp-scroll-w);
	}
	.c-snp__item {
		scroll-margin-inline-start: 0;
	}
	.c-snp__item:first-of-type {
		margin-inline-start: 0;
	}
	.c-snp__item:last-of-type::after {
		display: none;
	}
	.c-snp__nav {
		display: flex;
	}
	.c-snp__scroller {
		padding-bottom: var(--snp-gap);
		scrollbar-color: var(--snp-scrbar-bg) transparent;
		scrollbar-width: thin;
	}
	.c-snp__scroller--overflow {
		overflow: hidden;
		padding-bottom: 0;
	}
	.c-snp__scroller::-webkit-scrollbar {
		height: var(--snp-scrbar-sz);
		width: var(--snp-scrbar-sz);
	}
	.c-snp__scroller::-webkit-scrollbar-track {
		-webkit-border-radius: var(--snp-scrbar-bdrs);
		border-radius: var(--snp-scrbar-bdrs);
	}
	.c-snp__scroller::-webkit-scrollbar-thumb {
		background: var(--snp-scrbar-bg);
		-webkit-border-radius: var(--snp-scrbar-bdrs);
		border-radius: var(--snp-scrbar-bdrs);
	}
	.c-snp__scroller::-webkit-scrollbar-thumb:window-inactive {
		background: var(--snp-scrbar-bg); 
	}

	/* Modifiers */

	[data-items-per-page=":2"] .c-snp__item {
		min-width: calc(50% - (var(--snp-gap) / 2));
		width: calc(50% - (var(--snp-gap) / 2));
	}
	[data-items-per-page=":3"] .c-snp__item {
		min-width: calc((100% / 3) - (var(--snp-gap) / (3/2)));
		width: calc((100% / 3) - (var(--snp-gap) / (3/2)));
	}
	[data-items-per-page=":4"] .c-snp__item {
		min-width: calc(25% - (var(--snp-gap) / (4/3)));
		width: calc(25% - (var(--snp-gap) / (4/3)));
	}
	[data-items-per-page] .c-snp__item:nth-child(1n+2) {
		margin-inline-start: var(--snp-gap);
	}

	/* Align Center: Shows snippets/previews of previous and next items. 
	This only works with odd numbers, like 1, 3 and 5 */
	[data-align="center"] .c-snp__item {
		scroll-snap-align: center;
	}
	[data-align="center"][data-items-per-page=":3"] .c-snp__item {
		min-width: 27.5%;
		width: 27.5%;
	}
	.c-snp__item.c-snp__item--left {
		background-color: green; /* DEMO */
		opacity: 0.3;
	}
	.c-snp__item.c-snp__item--right {
		background-color: tomato; /* DEMO */
		opacity: 0.3;
	}

	/* Stack items instead of `overflow: scroll` */
	[data-stack][data-items-per-page=":2"] .c-snp__item:nth-of-type(3n) {
		margin-inline-start: 0;
	}
	[data-stack][data-items-per-page=":3"] .c-snp__item:nth-of-type(4n) {
		margin-inline-start: 0;
	}
	[data-stack][data-items-per-page=":4"] .c-snp__item:nth-of-type(5n) {
		margin-inline-start: 0;
	}
	/* Sub-modifier: Glue 2 items together, only works with 2 items per page */
	[data-stack="no-gap"][data-items-per-page=":2"] .c-snp__item {
		width: 50%;
	}
	[data-stack="no-gap"][data-items-per-page=":2"] .c-snp__item:first-of-type {
		margin-bottom: var(--snp-gap);
	}
	[data-stack="no-gap"][data-items-per-page=":2"] .c-snp__item:last-of-type {
		margin-inline-start: 0;
	}
}

/* TODO Touch */
@media (hover: none) and (pointer: coarse) {
	/* ... */
}