@import 'config.css';

/* Styles for demo only */
body {
	background-color: var(--c-bg);
	color: var(--c-txt);
	font-family: var(--f-body);
	width: 100%;
	/* min-height: 100vh; */
	/* min-height: -webkit-fill-available; */
}
code {
	--spacer-bottom: 0;
	--spacer-top: 0;
	/* background-color: #37B2AD;
	color: #FEFEFE; */
	background-color: hsla(178, 53%, 65%, 1);
  color: hsla(0, 0%, 25%, 1);
	padding: 0 0.25em;
	white-space: nowrap;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--c-bg--dark);
		color: var(--c-txt--dark);
	}
	code {
		background-color: #81E5d9;
		color: var(--c-grey-900);
	}
}