:root {
	--h: 197;
	--s: 92%;
	--l: 61%;

	--c0: hsla(calc(var(--h) + 7), calc(var(--s) + 4%), calc(var(--l) - 34%));
	--c1: hsla(calc(var(--h) + 6), calc(var(--s) - 5%), calc(var(--l) - 27%));
	--c2: hsla(calc(var(--h) + 5), calc(var(--s) - 9%), calc(var(--l) - 20%));
	--c3: hsla(calc(var(--h) + 4), calc(var(--s) - 13%), calc(var(--l) - 15%));
	--c4: hsla(calc(var(--h) + 2), calc(var(--s) - 6%), calc(var(--l) - 6%));
	--c5: hsla(var(--h), var(--s), var(--l));
	--c6: hsla(calc(var(--h) - 2), calc(var(--s) + 2%), calc(var(--l) + 6%));
	--c7: hsla(calc(var(--h) - 1), calc(var(--s) + 5%), calc(var(--l) + 14%));
	--c8: hsla(calc(var(--h) - 1), calc(var(--s) + 8%), calc(var(--l) + 24%));
	--c9: hsla(calc(var(--h) - 1), calc(var(--s) + 11%), calc(var(--l) + 34%));

	--a11y-c: var(--c7);
	--focus-c: var(--c9);
	--gap-lr: 1.5rem;
	--gap-tb: 1rem;
	--ico-sz: 3rem;
	--maw: 1000px;
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
}

a:focus {
	outline: none;
}

hr {
	border: 0;
	height: 2.5em;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
}

hr::before {
	bottom: 0;
	content: "—— ✻ ——";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

main {
	background-color: var(--c0);
	height: 100%;
	min-height: 100vh;
}

.c-a11y {
	border-radius: 50%;
	cursor: pointer;
	display: grid;
	height: 4rem;
	left: var(--gap-lr);
	place-items: center;
	position: absolute;
	top: calc(var(--gap-tb) * 3);
	width: 4rem;
}

.c-ico {
	cursor: pointer;
	fill: currentColor;
	height: var(--ico-sz);
	width: var(--ico-sz);
}

.c-ico--a11y {
	fill: var(--a11y-c);
}

.c-nav {
	max-width: 100vw;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

.c-nav__item:focus circle {
	outline: none;
	stroke: var(--focus-c);
	stroke-width: 0.1;
}

.c-nav__item circle {
	transition: var(--trsp, none) var(--trsdu) ease-in-out;
}

.c-nav__item circle:hover {
	opacity: 0.5;
}

.c-nav__item  text {
	font-size: 3px;
	pointer-events: none;
	text-transform: uppercase;
}

.c-nav__text--xs {
	display: block;
}

.c-nav__text--xl {
	display: none;
}

/* Circle Rings Modifiers */
.c-nav__item--r1 circle { fill: var(--c1); }
.c-nav__item--r1 text { fill: var(--c8); }
.c-nav__item--r2 circle { fill: var(--c2); transition-delay: var(--d1, 0); }
.c-nav__item--r2 text { fill: var(--c7); }
.c-nav__item--r3 circle { fill: var(--c3); transition-delay: var(--d2, 0); }
.c-nav__item--r3 text { fill: var(--c6); }
.c-nav__item--r4 circle { fill: var(--c4); transition-delay: var(--d3, 0); }
.c-nav__item--r4 text { fill: var(--c7); }
.c-nav__item--r5 circle { fill: var(--c5); transition-delay: var(--d4, 0); }
.c-nav__item--r5 text { fill: var(--c2); }
.c-nav__item--r6 circle { fill: var(--c6); transition-delay: var(--d5, 0); }
.c-nav__item--r6 text { fill: var(--c2); }
.c-nav__item--r7 circle { fill: var(--c7); transition-delay: var(--d6, 0); }
.c-nav__item--r7 text { fill: var(--c2); }
.c-nav__item--r8 circle { fill: var(--c8); transition-delay: var(--d7, 0); }
.c-nav__item--r8 text { fill: var(--c1); }
.c-nav__item--r9 circle { fill: var(--c9); transition-delay: var(--d8, 0); }
.c-nav__item--r9 path { fill: var(--c8); }

.c-nav__inner { 
	width: 200%;
}

.c-rng {
	--rng-bdrs: 0;
	--rng-bgi: linear-gradient(to right, red, #ff8000, #ff0, #80ff00, lime, #00ff80, cyan, #007fff, blue, #7f00ff, #f0f, #ff0080, red);
	--rng-h: 2rem;
	--rng-m: 0;
	--rng-value: 0;
	--rng-w: 100%;
	--rng-thumb-bdrs: 50%;
	--rng-thumb-bgc: hsl(var(--h), 100%, 50%);
	--rng-thumb-bxsh: inset 0 0 0 0.125rem hsl(var(--rng-value), 100%, 30%);
	--rng-thumb-bxsh--focus: inset 0 0 0 0.125rem rgba(255, 255, 255, 0.8), 0 0 0 0.125rem hsl(var(--rng-value), 100%, 25%);
	--rng-thumb-h: 2rem;
	--rng-thumb-w: 2rem;
	--rng-thumb-z: 1;

	background-image: var(--rng-bgi);
	border-radius: var(--rng-bdrs);
	box-sizing: border-box;
	font-family: inherit;
	height: var(--rng-h);
	margin: var(--rng-m);
	outline: none;
	position: relative;
	touch-action: none;
	width: var(--rng-w);
}

.c-rng::-moz-range-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	color: #000;
	cursor: ew-resize;
  height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
	z-index: var(--rng-thumb-z);
}

.c-rng::-webkit-slider-thumb {
	background-color: var(--rng-thumb-bgc);
	border-radius: var(--rng-thumb-bdrs);
	box-shadow: var(--rng-thumb-bxsh);
	cursor: ew-resize;
  height: var(--rng-thumb-h);  
	margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
	position: relative;
	width: var(--rng-thumb-w);
	z-index: var(--rng-thumb-z);
}

.c-rng:focus::-webkit-slider-thumb {
	box-shadow: var(--rng-thumb-bxsh--focus);
}

.c-rng::-moz-range-track {
	background: transparent;
	background-size: 100%;
	box-sizing: border-box;
	height: var(--rng-h);
}

.c-rng::-webkit-slider-runnable-track {
	background: transparent;
	background-size: 100%;
	box-sizing: border-box;
	height: var(--rng-h);
}

.c-rng,
.c-rng::-webkit-slider-runnable-track,
.c-rng::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

.c-spot {
	--bgc: var(--c1);
	--c: var(--c9);
	
	background-color: var(--bgc);
	box-sizing: border-box;
	color: var(--c);
	font-size: clamp(1.2rem, 1.0615rem + 0.6154vw, 1.8rem);
	height: 100vh;
	opacity: 0.97;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	text-align: center;
	top: 0;
	transform: scaleY(0);
	transform-origin: 50% -100vw;
	transition: transform .5s ease-in-out;
	width: 100%;
	z-index: 1;
}

.c-spot__close {
	color: inherit;
	display: block;
	margin: var(--gap-tb) 0 3vh 0;
}

.c-spot__headline {
	font-size: clamp(2rem, 1.4231rem + 2.5641vw, 4.5rem);
	letter-spacing: 0.15em;
	line-height: 1.2;
	padding: 0 var(--gap-lr);
	text-transform: uppercase;
}

.c-spot__headline::before,
.c-spot__headline::after {
	border-bottom: 1px solid currentColor;
	content: '';
	display: block;
	margin: 0.625em auto;
	width: 60%;
}

.c-spot p {
	padding: 0 var(--gap-lr) var(--gap-lr) var(--gap-lr);
}

.c-spot:target {
	transform: scaleY(1);
}

/* Modifiers: Inherit Ring Color From Circle */
.c-spot--r2 { --bgc: var(--c2); --c: var(--c7); } 
.c-spot--r3 { --bgc: var(--c3); --c: var(--c6); } 
.c-spot--r4 { --bgc: var(--c4); --c: var(--c7); } 
.c-spot--r5 { --bgc: var(--c5); --c: var(--c2); } 
.c-spot--r6 { --bgc: var(--c6); --c: var(--c2); } 
.c-spot--r7 { --bgc: var(--c7); --c: var(--c2); } 

/* State */
[name="a11y"]:checked + main {
	--c0: hsl(192, 10%, 10%);
	--c1: hsl(192, 10%, 20%);
	--c2: hsl(192, 10%, 30%);
	--c3: hsl(192, 10%, 40%);
	--c4: hsl(192, 10%, 50%);
	--c5: hsl(192, 10%, 60%);
	--c6: hsl(192, 10%, 70%);
	--c7: hsl(192, 10%, 80%);
	--c8: hsl(192, 10%, 90%);
	--c9: hsl(192, 10%, 100%);
	
	--d1: 0.1s;
	--d2: 0.2s;
	--d3: 0.3s;
	--d4: 0.4s;
	--d5: 0.5s;
	--d6: 0.6s;
	--d7: 0.7s;
	--d8: 0.9s;
	
	--a11y-c: url(#rainbow);
	--trsp: fill;
	--trsdu: .3s;

	transition: background-color var(--trsdu) ease-in-out;
}

[name="a11y"]:checked + main .c-rng--hsl-label{
	filter: grayscale(1);
}

[name="a11y"]:focus + main .c-a11y {
	box-shadow: 0 0 0 2px var(--focus-c);
}

/* RWD */
@media (min-width: 800px) {
	.c-nav { 
		display: grid;
		padding: var(--gap-tb) var(--gap-lr);
		place-items: center;
	}

	.c-nav__inner {
		max-width: var(--maw);
		width: 100%;
	}

	.c-nav__text--xs {
		display: none;
	}

	.c-nav__text--xl {
		display: block;
	}

	.c-spot {
		border-radius: 50%;
		box-shadow: 0 0 2px 1px currentColor;
		height: calc(100vw - (var(--gap-lr) * 2));
		left: var(--gap-lr);
		max-height: var(--maw);
		max-width: var(--maw);
		position: absolute;
		top: 3.5rem;
		transform: scale(0);
		transform-origin: 50% 50%;
		width: calc(100vw - (var(--gap-lr) * 2));
	}

	.c-spot:target {
		transform: scale(1);
	}

	.c-spot__headline {
		margin: 0 auto 0.5em auto;
		max-width: 60%;
	}

	.c-spot p {
		margin: 0 auto;
		max-width: 60%;
	}
}

@media (min-width: 1100px) {
	:root {
		--maw: calc(100vw - (var(--gap-lr) * 2));
	}

	.c-spot {
		left: calc((100vw - var(--maw)) / 2);
	}
}

.sr-only {
	clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* HACKS: TEMP: FIX FOR FIREFOX */
@-moz-document url-prefix() {
  .c-nav__item text {
		display: none;
  }
}